## Limpieza de Datos: 
## Encuestas de Patrones Infonavit

Carga de librerías:

In [65]:
import os
os.chdir("..")
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, OneHotEncoder,KBinsDiscretizer
from sklearn.impute import SimpleImputer
import sys, os
import re

In [2]:
os.getcwd()

'/home/mariana/Documents/TESIS_MS/DeepLearning_Patrones_Infonavit'

In [3]:
%reload_ext autoreload
%autoreload 
from utils.funcs_utils import *

Lectura de datos:

In [4]:
df= pd.read_csv('/home/mariana/Documents/TESIS_MS/DeepLearning_Patrones_Infonavit/data/BaseAgregada.csv')
df.rename(columns={col: col.lower() for col in df.columns.values},inplace=True)

/home/mariana/.pyenv/versions/deep_learning/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3170: DtypeWarning: Columns (5,21,23,24,26,27,35,37,67,68,69,70,71,74,75,76,77,78,79,80,83,84,85,86,87,88,89,90,92,93,95,96,97,99,100,101,102,105,106,107,108,109,110,124,132,133,143,144,145,146,147,148,149,151,152,153,167,168,169,170,174,176,178,189,190,192,193,195,196,205,210,211) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Se cambia el nombre de las columnas a minúscula:

In [5]:
count_unique_obs(df)

history_id_crm       7834
estrato_nuevo           3
estrato_nuevo_txt       3
ponderador_sgpff       54
pond_relativizado      51
                     ...
pfin                    1
levantamiento           4
estrato                 7
estrato_txt             7
rfclimpio            7376
Length: 221, dtype: int64

Contamos el total de "sí=1" para ver en cuánto recurso invirtió

In [6]:
is_1= lambda x:int(x==1)

In [7]:
count_19 = lambda row: is_1(row['p2_19_a']) + is_1(row['p2_19_b'])+is_1(row['p2_19_c']) + is_1(row['p2_19_d'])+ is_1(row['p2_19_e']) + is_1(row['p2_19_f'])+ is_1(row['p2_19_g']) + is_1(row['p2_19_h'])+ is_1(row['p2_19_i']) + is_1(row['p2_19_j'])+is_1(row['p2_19_k']) + is_1(row['p2_19_l'])+ is_1(row['p2_19_m']) + is_1(row['p2_19_n'])+is_1(row['p2_19_o']) 
df['p2_19'] = df.apply(count_19 ,axis=1)

In [8]:
count_20 = lambda row: is_1(row['p2_20_a']) + is_1(row['p2_20_b'])+is_1(row['p2_20_c']) + is_1(row['p2_20_d']) 
df['p2_20'] = df.apply(count_20 ,axis=1)

In [9]:
count_19_20 = lambda row: is_1(row['p2_19_a']) + is_1(row['p2_19_b'])+is_1(row['p2_19_c']) + is_1(row['p2_19_d'])+ is_1(row['p2_19_e']) + is_1(row['p2_19_f'])+ is_1(row['p2_19_g']) + is_1(row['p2_19_h'])+ is_1(row['p2_19_i']) + is_1(row['p2_19_j'])+is_1(row['p2_19_k']) + is_1(row['p2_19_l'])+ is_1(row['p2_19_m']) + is_1(row['p2_19_n'])+is_1(row['p2_19_n']) + is_1(row['p2_20_a']) + is_1(row['p2_20_b'])+is_1(row['p2_20_c']) + is_1(row['p2_20_d'])
df['inversion_total'] = df.apply(count_19_20 ,axis=1)

Se suman únicamente los créditos autorizados.

In [10]:
df['2_22_autorizados'] = df['p2_22_a'] + df['p2_22_b']

Solicitud de créditos en el trimestre anterior.

In [11]:
df["p2_27_a"] = pd.to_numeric(df.p2_27_a, errors='coerce')
df["p2_27_b"] = pd.to_numeric(df.p2_27_b, errors='coerce')
df["p2_27_c"] = pd.to_numeric(df.p2_27_c, errors='coerce')

In [12]:
count_27 = lambda row: is_1(row['p2_27_a']) + is_1(row['p2_27_b'])+is_1(row['p2_27_c'])
df['p2_27_bis'] = df.apply(count_27,axis=1)

La variables 2_27 establece si en algún mes del trimestre anterior solicitó un crédito es 1, 0 en otro caso.

In [13]:
df['2_27'] = np.where(df['p2_27_bis']>0,1,0)

Si pagó impuestos y/o contribuciones el trimestre anterior: 1=Sí, 2=No.

In [14]:
is_2= lambda x:int(x==2)
is_98= lambda x:int(x==98)
is_99= lambda x:int(x==99)

In [15]:
count_imp = lambda row: is_1(row['p2_41_a']) + is_1(row['p2_41_b'])+is_1(row['p2_41_c'])
df['p2_41_imp'] = df.apply(count_imp ,axis=1)

In [16]:
count_contr= lambda row: is_1(row['p2_41_d']) + is_1(row['p2_41_e'])+is_1(row['p2_41_f'])
df['p2_41_contr'] = df.apply(count_contr ,axis=1)

In [17]:
count_none= lambda row: is_2(row['p2_41_a']) + is_2(row['p2_41_b'])+is_2(row['p2_41_c'])+ is_2(row['p2_41_d']) + is_2(row['p2_41_e'])+is_2(row['p2_41_f'])+ is_2(row['p2_41_g'])
df['p2_41_none'] = df.apply(count_none ,axis=1)

In [18]:
count_imp2 = lambda row: is_2(row['p2_41_a']) + is_2(row['p2_41_b'])+is_2(row['p2_41_c'])
df['p2_41_imp2'] = df.apply(count_imp2 ,axis=1)

In [19]:
count_contr2= lambda row: is_2(row['p2_41_d']) + is_2(row['p2_41_e'])+is_2(row['p2_41_f'])
df['p2_41_contr2'] = df.apply(count_contr2,axis=1)

In [20]:
count_98c= lambda row: is_98(row['p2_41_d']) + is_98(row['p2_41_e'])+is_98(row['p2_41_f'])
df['p2_41_contr98'] = df.apply(count_98c,axis=1)

In [21]:
count_98i= lambda row: is_98(row['p2_41_a']) + is_98(row['p2_41_b'])+is_98(row['p2_41_c'])
df['p2_41_imp98'] = df.apply(count_98i,axis=1)

In [22]:
count_99c= lambda row: is_99(row['p2_41_d']) + is_99(row['p2_41_e'])+is_99(row['p2_41_f'])
df['p2_41_contr99'] = df.apply(count_99c,axis=1)

In [23]:
count_99i= lambda row: is_99(row['p2_41_a']) + is_99(row['p2_41_b'])+is_99(row['p2_41_c'])
df['p2_41_imp99'] = df.apply(count_99i,axis=1)

In [24]:
count_both= lambda row: is_1(row['p2_41_a']) + is_1(row['p2_41_b'])+is_1(row['p2_41_c'])+ is_1(row['p2_41_d']) + is_1(row['p2_41_e'])+is_1(row['p2_41_f'])+ is_1(row['p2_41_g'])
df['p2_41_both'] = df.apply(count_both ,axis=1)

In [25]:
count_g= lambda row: is_1(row['p2_41_g'])
df['2_41_g'] = df.apply(count_g,axis=1)

Si pagó a tiempo los impuestos o contribuciones el trimetre anterior: 1=Sí, 2=No.

In [26]:
count_imp42 = lambda row: is_2(row['p2_42_a']) + is_2(row['p2_42_b'])+is_2(row['p2_42_c'])
df['p2_42_imp'] = df.apply(count_imp42 ,axis=1)

In [27]:
count_contr42= lambda row: is_2(row['p2_42_d']) + is_2(row['p2_42_e'])+is_2(row['p2_42_f'])
df['p2_42_contr'] = df.apply(count_contr42 ,axis=1)

In [28]:
count_all= lambda row: is_2(row['p2_42_a']) + is_2(row['p2_42_b'])+is_2(row['p2_42_c'])+ is_2(row['p2_42_d']) + is_2(row['p2_42_e'])+is_2(row['p2_42_f'])+ is_2(row['p2_42_g'])
df['p2_42_all'] = df.apply(count_all ,axis=1)

In [29]:
count_none42= lambda row: is_1(row['p2_42_a']) + is_1(row['p2_42_b'])+is_1(row['p2_42_c'])+ is_1(row['p2_42_d']) + is_1(row['p2_42_e'])+is_1(row['p2_42_f'])+ is_1(row['p2_42_g'])
df['p2_42_none'] = df.apply(count_none42 ,axis=1)

In [30]:
count_98c= lambda row: is_98(row['p2_42_d']) + is_98(row['p2_42_e'])+is_98(row['p2_42_f'])
df['p2_42_contr98'] = df.apply(count_98c,axis=1)

In [31]:
count_98i= lambda row: is_98(row['p2_42_a']) + is_98(row['p2_42_b'])+is_98(row['p2_42_c'])
df['p2_42_imp98'] = df.apply(count_98i,axis=1)

In [32]:
count_99c= lambda row: is_99(row['p2_42_d']) + is_99(row['p2_42_e'])+is_99(row['p2_42_f'])
df['p2_42_contr99'] = df.apply(count_99c,axis=1)

In [33]:
count_99i= lambda row: is_99(row['p2_42_a']) + is_99(row['p2_42_b'])+is_99(row['p2_42_c'])
df['p2_42_imp99'] = df.apply(count_99i,axis=1)

In [34]:
count_g= lambda row: is_2(row['p2_42_g'])
df['2_42_g2'] = df.apply(count_g,axis=1)

Dificultades para pagar durante este trimestre impuestos y/o contribuciones: 1=Sí, 2=No

In [35]:
count_imp = lambda row: is_1(row['p2_44_a']) + is_1(row['p2_44_b'])+is_1(row['p2_44_c'])
df['p2_44_imp'] = df.apply(count_imp ,axis=1)

In [36]:
count_contr= lambda row: is_1(row['p2_44_d']) + is_1(row['p2_44_e'])+is_1(row['p2_44_f'])
df['p2_44_contr'] = df.apply(count_contr ,axis=1)

In [37]:
count_none= lambda row: is_2(row['p2_44_a']) + is_2(row['p2_44_b'])+is_2(row['p2_44_c'])+ is_2(row['p2_44_d']) + is_2(row['p2_44_e'])+is_2(row['p2_44_f'])
df['p2_44_none'] = df.apply(count_none ,axis=1)

In [38]:
count_both= lambda row: is_1(row['p2_44_a']) + is_1(row['p2_44_b'])+is_1(row['p2_44_c'])+ is_1(row['p2_44_d']) + is_1(row['p2_44_e'])+is_1(row['p2_44_f'])
df['p2_44_both'] = df.apply(count_both ,axis=1)

In [39]:
count_98c= lambda row: is_98(row['p2_44_d']) + is_98(row['p2_44_e'])+is_98(row['p2_44_f'])
df['p2_44_contr98'] = df.apply(count_98c,axis=1)

In [40]:
count_98i= lambda row: is_98(row['p2_44_a']) + is_98(row['p2_44_b'])+is_98(row['p2_44_c'])
df['p2_44_imp98'] = df.apply(count_98i,axis=1)

In [41]:
count_99i= lambda row: is_99(row['p2_44_a']) + is_99(row['p2_44_b'])+is_99(row['p2_44_c'])
df['p2_44_imp99'] = df.apply(count_99i,axis=1)

In [42]:
count_99c= lambda row: is_99(row['p2_44_d']) + is_99(row['p2_44_e'])+is_99(row['p2_44_f'])
df['p2_44_contr99'] = df.apply(count_99c,axis=1)

Dificultades para pagar impuestos y/o contribuciones lo que resta del año: 1=Sí, 2=No

In [43]:
count_imp = lambda row: is_1(row['p2_45_a']) + is_1(row['p2_45_b'])+is_1(row['p2_45_c'])
df['p2_45_imp'] = df.apply(count_imp ,axis=1)

In [44]:
count_contr= lambda row: is_1(row['p2_45_d']) + is_1(row['p2_45_e'])+is_1(row['p2_45_f'])
df['p2_45_contr'] = df.apply(count_contr ,axis=1)

In [45]:
count_none= lambda row: is_2(row['p2_45_a']) + is_2(row['p2_45_b'])+is_2(row['p2_45_c'])+ is_2(row['p2_45_d']) + is_2(row['p2_45_e'])+is_2(row['p2_45_f'])
df['p2_45_none'] = df.apply(count_none ,axis=1)

In [46]:
count_both= lambda row: is_1(row['p2_45_a']) + is_1(row['p2_45_b'])+is_1(row['p2_45_c'])+ is_1(row['p2_45_d']) + is_1(row['p2_45_e'])+is_1(row['p2_45_f'])
df['p2_45_both'] = df.apply(count_both ,axis=1)

In [47]:
count_98c= lambda row: is_98(row['p2_45_d']) + is_98(row['p2_45_e'])+is_98(row['p2_45_f'])
df['p2_45_contr98'] = df.apply(count_98c,axis=1)

In [48]:
count_99c= lambda row: is_99(row['p2_45_d']) + is_99(row['p2_45_e'])+is_99(row['p2_45_f'])
df['p2_45_contr99'] = df.apply(count_99c,axis=1)

In [49]:
count_98i= lambda row: is_98(row['p2_45_a']) + is_98(row['p2_45_b'])+is_98(row['p2_45_c'])
df['p2_45_imp98'] = df.apply(count_98i,axis=1)

In [50]:
count_99i= lambda row: is_99(row['p2_45_a']) + is_99(row['p2_45_b'])+is_99(row['p2_45_c'])
df['p2_45_imp99'] = df.apply(count_99i,axis=1)

In [51]:
a=

SyntaxError: invalid syntax (<ipython-input-51-2d920c342ece>, line 1)

Convertimos todas las variables catagóricas que están como float u object a numéricas para homologar categorías.

In [52]:
pd.set_option('display.max_rows', 10)
convert_to_num(df,vars_to_cat)

,history_id_crm,estrato_nuevo,estrato_nuevo_txt,ponderador_sgpff,pond_relativizado,region,region_txt,empresas,p1_1_a,p1_1_b,p1_2,p1_2_6_tx,p1_2_6_cod,p1_3_tx,p1_3_cod,p1_4,p1_4_9_tx,p1_4_9_cod,p1_5,p2_1_tx1,p2_1_cod11,p2_1_cod12,p2_1_tx2,p2_1_1cod21,p2_1_1cod22,p2_1_tx3,p2_1_2cod31,p2_1_2cod32,p2_2,p2_3,p2_4,p2_5_a,p2_5_b,p2_6,p2_7,p2_8,p2_9,p2_10,p2_11,p2_12,p2_13,p2_14,p2_15,p2_16,p2_17,p2_18,p2_19_a,p2_19_b,p2_19_c,p2_19_d,...,p6_2,p6_3,p6_4_tx,pfin,levantamiento,estrato,estrato_txt,rfclimpio,p2_19,p2_20,inversion_total,2_22_autorizados,p2_27_bis,2_27,p2_41_imp,p2_41_contr,p2_41_none,p2_41_imp2,p2_41_contr2,p2_41_contr98,p2_41_imp98,p2_41_contr99,p2_41_imp99,p2_41_both,2_41_g,p2_42_imp,p2_42_contr,p2_42_all,p2_42_none,p2_42_contr98,p2_42_imp98,p2_42_contr99,p2_42_imp99,2_42_g2,p2_44_imp,p2_44_contr,p2_44_none,p2_44_both,p2_44_contr98,p2_44_imp98,p2_44_imp99,p2_44_contr99,p2_45_imp,p2_45_contr,p2_45_none,p2_45_both,p2_45_contr98,p2_45_contr99,p2_45_imp98,p2_45_imp99
0,7521766,1,Pequeña y micro (1 a 50 empleados),72.128114,NaN,,NaN,2,3,2014,2,NaN,2.0,CONSTRUCCIÓN.,3,4,NaN,4.0,2,FALTA DE TRABAJO,6,,PANDEMIA,1,,NC,,,3,98,0,0,0,3,1,1,2,0,2,2,2,1,1,5,2,1,2,2,2,2,...,52,11,NS.,1.0,1Q2021,NaN,NaN,AAA140320F93,0,0,0,0,0,0,2,2,2,1,1,0,0,0,0,4,0,0,0,0,0,0,0,0,0,0,3,2,0,5,1,0,0,0,3,3,0,6,0,0,0,0
1,7544090,1,Pequeña y micro (1 a 50 empleados),72.128114,NaN,,NaN,2,4,2016,4,NaN,4.0,VENTA DE ELEVADORES E INSTALACIONES,2,3,NaN,3.0,1,ECONOMIA,5,,PANDEMIA,1,,NS,,,10,40,2,9998,0,9998,2,0,2,0,3,2,1,1,2,0,1,1,2,2,2,2,...,32,10,CESAR ULISES PEREZ FLORES,1.0,1Q2021,NaN,NaN,AAR150119HV8,1,0,1,0,0,0,3,3,1,0,0,0,0,0,0,6,0,0,0,0,0,0,0,0,0,0,0,0,6,0,0,0,0,0,0,0,6,0,0,0,0,0
2,7543953,1,Pequeña y micro (1 a 50 empleados),72.128114,NaN,,NaN,2,98,2006,3,NaN,3.0,FRABRICANTES,2,1,NaN,1.0,2,COVID,1,,FALTA DE LIQUIDES,5,,DESABASTO DE ENTREGA,10,,14,48,0,0,0,14,2,0,2,0,3,2,3,3,1,3,3,3,2,2,2,2,...,48,9,CECILIA ARAIZA,1.0,1Q2021,NaN,NaN,AASC620108FI2,0,0,0,0,0,0,3,3,1,0,0,0,0,0,0,6,0,0,0,0,0,0,0,0,0,0,0,0,6,0,0,0,0,0,0,0,6,0,0,0,0,0
3,7536178,1,Pequeña y micro (1 a 50 empleados),72.128114,NaN,,NaN,2,98,2007,5,NaN,5.0,SERVICIOS,3,3,NaN,3.0,2,LA ECONOMIA DEL PAIS,7,,LOS CREDITOS QUE NO NOS DAN,5,,LA PANDEMIA,1,,50,40,0,0,4,50,2,0,2,0,3,2,1,1,2,0,1,1,2,2,2,2,...,30,11,ADMINISTRACION,1.0,1Q2021,NaN,NaN,ABA170622I65,0,0,0,0,0,0,3,3,1,0,0,0,0,0,0,6,0,0,0,0,0,0,0,0,0,0,0,0,6,0,0,0,0,0,0,0,6,0,0,0,0,0
4,7521922,1,Pequeña y micro (1 a 50 empleados),72.128114,NaN,,NaN,2,10,9998,5,NaN,5.0,Limpieza Integral,1,2,NaN,2.0,1,Economia,7,,Pandemia,1,,Inseguridad,9,,80,48,80,0,0,80,1,2,2,0,2,2,2,2,2,0,2,3,2,2,2,2,...,36,11,Hector Gomez Pezuela,1.0,1Q2021,NaN,NaN,ABE150923MA5,3,2,5,20,2,1,3,3,1,0,0,0,0,0,0,6,0,0,0,0,0,0,0,0,0,0,2,0,4,2,0,0,0,0,2,0,4,2,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7829,224423829,3,NaN,NaN,0.13,1,Centro Sur,1,7,2017,5,NaN,5.0,servicios de educacion,SERVICIOS SOCIALES Y COMUNALES,8,NaN,8.0,2,98,98,NaN,98,98.0,NaN,98,98.0,NaN,99998,6,2,0,0,58,2,0,2,0,3,2,3,2,2,0,3,3,2,2,2,2,...,25,10,marina,NaN,3Q2021,NaN,NaN,AEB1403149M7,1,0,1,0,0,0,2,2,3,1,1,0,0,0,0,4,0,0,0,0,4,0,0,0,0,0,0,0,6,0,0,0,0,0,0,0,6,0,0,0,0,0
7830,224637558,1,NaN,NaN,4.56,1,Centro Sur,1,5,2009,5,NaN,5.0,OUTSOURCING DEPORTIVO,INDUSTRIAS DE TRANSFORMACIÓN,4,NaN,4.0,2,VENTA,2,NaN,PERSONAL,14.0,NaN,PANDEMIA,1.0,NaN,180,5,0,0,0,180,2,0,1,1,3,2,2,1,2,0,1,1,2,2,2,2,...,34,11,JULIO CXESAR QUIROZ,NaN,3Q2021,NaN,NaN,CIQM550721H16,2,1,3,2,0,0,3,2,2,0,1,0,0,0,0,5,0,0,0,0,5,0,0,0,0,0,0,0,6,0,0,0,0,0,0,0,6,0,0,0,0,0
7831,224475564,2,NaN,NaN,0.15,4,Noroeste,1,98,1988,5,NaN,5.0,contabilidad despacho,TRANSPORTES Y COMUNICACIONES,1,NaN,1.0,1,aconomico,7,NaN,99,99.0,NaN,99,99.0,NaN,6,5,0,0,0,6,2,0,2,0,3,2,2,3,2,0,3,2,2,2,2,2,...,65,11,zutira lopez ferando,NaN,3Q2021,NaN,NaN,MECC760115QKA,3,1,4,2,2,1,3,3,1,0,0,0,0,0,0,6,0,1,0,1,5,0,0,0,0,0,3,3,0,6,0,0,0,0,0,0,6,0,0,0,0,0
7832,223989494,3,NaN,NaN,0.05,0,No adscrita a una sola región,2,99,2003,3,NaN,3.0,FABRICACION DE PAPEL HIGIENICO,INDUSTRIAS DE TRANSFORMACIÓN,3,NaN,3.0,2,98,98,NaN,98,98.0,NaN,98,98.0,NaN,1300,4,0,0,0,0,1,1,2,0,1,2,3,2,2,0,3,3,2,2,2,2,...,65,10,98,NaN,3Q2021,NaN,NaN,GCP010828B54,0,0,0,0,0,0,3,3,1,0,0,0,0,0,0,6,0,0,0,0,6,0,0,0,0,0,0,0,6,0,0,0,0,0,0,0,6,0,0,0,0,0
7833,224656895,2,NaN,NaN,0.05,0,No adscrita a una sola región,2,4,2003,2,NaN,2.0,EXPLORACION CON MAQUINAS DE DIAMENTE,INDUSTRIAS EXTRACTIVAS,8,NaN,8.0,2,EL RIESGO DE LAS ACTIVIDADES,6,NaN,EL RIESGO POR EL CONTAGIO COVID,1.0,NaN,NINGUN OTRO,97.0,NaN,163,4,2,4,2,163,1,2,2,0,1,1,1,1,2,0,1,1,2,2,2,2,...,36,10,BLANCA DOMINGUEZ,NaN,3Q2021,NaN,NaN,EDM060411QU7,5,2,6,0,0,0,3,3,0,0,0,0,0,0,0,7,1,0,0,0,7,0,0,0,0,0,0,0,6,0,0,0,0,0,0,0,6,0,0,0,0,0

Concatenamos los nulos, NS, NC en una sola categoría "NULO".

In [53]:
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)
concat_null(df, vars_to_cat)

,history_id_crm,estrato_nuevo,estrato_nuevo_txt,ponderador_sgpff,pond_relativizado,...,p2_45_both,p2_45_contr98,p2_45_contr99,p2_45_imp98,p2_45_imp99
0,7521766,1,Pequeña y micro (1 a 50 empleados),72.128114,NaN,...,6,NULO,NULO,NULO,NULO
1,7544090,1,Pequeña y micro (1 a 50 empleados),72.128114,NaN,...,NULO,NULO,NULO,NULO,NULO
2,7543953,1,Pequeña y micro (1 a 50 empleados),72.128114,NaN,...,NULO,NULO,NULO,NULO,NULO
3,7536178,1,Pequeña y micro (1 a 50 empleados),72.128114,NaN,...,NULO,NULO,NULO,NULO,NULO
4,7521922,1,Pequeña y micro (1 a 50 empleados),72.128114,NaN,...,2,NULO,NULO,NULO,NULO
...,...,...,...,...,...,...,...,...,...,...,...
7829,224423829,3,NaN,NaN,0.13,...,NULO,NULO,NULO,NULO,NULO
7830,224637558,1,NaN,NaN,4.56,...,NULO,NULO,NULO,NULO,NULO
7831,224475564,2,NaN,NaN,0.15,...,NULO,NULO,NULO,NULO,NULO
7832,223989494,3,NaN,NaN,0.05,...,NULO,NULO,NULO,NULO,NULO
7833,224656895,2,NaN,NaN,0.05,...,NULO,NULO,NULO,NULO,NULO

Convertimos todas las variables en catagóricas.

In [54]:
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)
convert_object(df, vars_to_cat)

,history_id_crm,estrato_nuevo,estrato_nuevo_txt,ponderador_sgpff,pond_relativizado,...,p2_45_both,p2_45_contr98,p2_45_contr99,p2_45_imp98,p2_45_imp99
0,7521766,1,Pequeña y micro (1 a 50 empleados),72.128114,NaN,...,6,NULO,NULO,NULO,NULO
1,7544090,1,Pequeña y micro (1 a 50 empleados),72.128114,NaN,...,NULO,NULO,NULO,NULO,NULO
2,7543953,1,Pequeña y micro (1 a 50 empleados),72.128114,NaN,...,NULO,NULO,NULO,NULO,NULO
3,7536178,1,Pequeña y micro (1 a 50 empleados),72.128114,NaN,...,NULO,NULO,NULO,NULO,NULO
4,7521922,1,Pequeña y micro (1 a 50 empleados),72.128114,NaN,...,2,NULO,NULO,NULO,NULO
...,...,...,...,...,...,...,...,...,...,...,...
7829,224423829,3,NaN,NaN,0.13,...,NULO,NULO,NULO,NULO,NULO
7830,224637558,1,NaN,NaN,4.56,...,NULO,NULO,NULO,NULO,NULO
7831,224475564,2,NaN,NaN,0.15,...,NULO,NULO,NULO,NULO,NULO
7832,223989494,3,NaN,NaN,0.05,...,NULO,NULO,NULO,NULO,NULO
7833,224656895,2,NaN,NaN,0.05,...,NULO,NULO,NULO,NULO,NULO

### Profiling de variables categóricas.

In [55]:
data_profiling_categ(df, vars_to_cat)

*********************************
Variable Categorica p1_2
*********************************

Info                    p1_2
Num_Registros           7834
Num_de_categorias          7
Moda                       5
Valores_faltantes          0
Top1               [5, 3079]
Top2               [4, 1496]
Top3               [2, 1244]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
5                   3079      39.3%
4                   1496      19.1%
2                   1244      15.9%
3                   1155      14.7%
6                    417       5.3%
1                    360       4.6%
NULO                  83       1.1%

None



*********************************
Variable Categorica p1_4
*********************************

Info                    p1_4
Num_Registros           7834
Num_de_categorias         10
Moda                       5
Valores_faltantes          0
Top1               [5, 1966]
Top2               [9, 1656]
Top3               [3, 1533]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
5                   1966      25.1%
9                   1656      21.1%
3                   1533      19.6%
8                   1193      15.2%
2                    528       6.7%
7                    376       4.8%
1                    313       4.0%
4                    188       2.4%
NULO                  69       0.9%
6                     12       0.2%

None



*********************************
Variable Categorica p1_5
*********************************

Info                      p1_5
Num_Registros             7834
Num_de_categorias            3
Moda                         2
Valores_faltantes            0
Top1                 [2, 5282]
Top2                 [1, 2379]
Top3               [NULO, 173]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   5282      67.4%
1                   2379      30.4%
NULO                 173       2.2%

None



*********************************
Variable Categorica p2_7
*********************************

Info                      p2_7
Num_Registros             7834
Num_de_categorias            3
Moda                         2
Valores_faltantes            0
Top1                 [2, 4670]
Top2                 [1, 2846]
Top3               [NULO, 318]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   4670      59.6%
1                   2846      36.3%
NULO                 318       4.1%

None



*********************************
Variable Categorica p2_8
*********************************

Info                       p2_8
Num_Registros              7834
Num_de_categorias             3
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 5020]
Top2                  [1, 1473]
Top3                  [2, 1341]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                5020      64.1%
1                   1473      18.8%
2                   1341      17.1%

None



*********************************
Variable Categorica p2_9
*********************************

Info                      p2_9
Num_Registros             7834
Num_de_categorias            3
Moda                         2
Valores_faltantes            0
Top1                 [2, 7175]
Top2                  [1, 427]
Top3               [NULO, 232]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   7175      91.6%
1                    427       5.5%
NULO                 232       3.0%

None



*********************************
Variable Categorica p2_10
*********************************

Info                      p2_10
Num_Registros              7834
Num_de_categorias             3
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 7411]
Top2                   [1, 250]
Top3                   [2, 173]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                7411      94.6%
1                    250       3.2%
2                    173       2.2%

None



*********************************
Variable Categorica p2_11
*********************************

Info                   p2_11
Num_Registros           7834
Num_de_categorias          4
Moda                       3
Valores_faltantes          0
Top1               [3, 4109]
Top2               [1, 2381]
Top3                [2, 974]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
3                   4109      52.5%
1                   2381      30.4%
2                    974      12.4%
NULO                 370       4.7%

None



*********************************
Variable Categorica p2_12
*********************************

Info                     p2_12
Num_Registros             7834
Num_de_categorias            3
Moda                         2
Valores_faltantes            0
Top1                 [2, 5525]
Top2                 [1, 1739]
Top3               [NULO, 570]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   5525      70.5%
1                   1739      22.2%
NULO                 570       7.3%

None



*********************************
Variable Categorica p2_13
*********************************

Info                   p2_13
Num_Registros           7834
Num_de_categorias          4
Moda                       2
Valores_faltantes          0
Top1               [2, 4171]
Top2               [1, 1574]
Top3               [3, 1227]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   4171      53.2%
1                   1574      20.1%
3                   1227      15.7%
NULO                 862      11.0%

None



*********************************
Variable Categorica p2_14
*********************************

Info                   p2_14
Num_Registros           7834
Num_de_categorias          4
Moda                       2
Valores_faltantes          0
Top1               [2, 2975]
Top2               [1, 1911]
Top3               [3, 1522]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   2975      38.0%
1                   1911      24.4%
3                   1522      19.4%
NULO                1426      18.2%

None



*********************************
Variable Categorica p2_15
*********************************

Info                     p2_15
Num_Registros             7834
Num_de_categorias            3
Moda                         2
Valores_faltantes            0
Top1                 [2, 6190]
Top2                 [1, 1525]
Top3               [NULO, 119]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   6190      79.0%
1                   1525      19.5%
NULO                 119       1.5%

None



*********************************
Variable Categorica p2_16
*********************************

Info                      p2_16
Num_Registros              7834
Num_de_categorias             6
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 6408]
Top2                   [5, 803]
Top3                   [1, 237]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                6408      81.8%
5                    803      10.3%
1                    237       3.0%
3                    175       2.2%
2                    135       1.7%
4                     76       1.0%

None



*********************************
Variable Categorica p2_17
*********************************

Info                   p2_17
Num_Registros           7834
Num_de_categorias          4
Moda                       2
Valores_faltantes          0
Top1               [2, 4208]
Top2               [1, 1766]
Top3               [3, 1135]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   4208      53.7%
1                   1766      22.5%
3                   1135      14.5%
NULO                 725       9.3%

None



*********************************
Variable Categorica p2_18
*********************************

Info                   p2_18
Num_Registros           7834
Num_de_categorias          4
Moda                       1
Valores_faltantes          0
Top1               [1, 4264]
Top2               [2, 1742]
Top3               [3, 1272]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
1                   4264      54.4%
2                   1742      22.2%
3                   1272      16.2%
NULO                 556       7.1%

None



*********************************
Variable Categorica p2_19
*********************************

Info                      p2_19
Num_Registros              7834
Num_de_categorias            16
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 2811]
Top2                  [1, 1461]
Top3                  [2, 1052]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                2811      35.9%
1                   1461      18.6%
2                   1052      13.4%
3                    788      10.1%
4                    522       6.7%
...                  ...        ...
12                    23       0.3%
11                    22       0.3%
13                    13       0.2%
15                     6       0.1%
14                     5       0.1%

[16 rows x 2 columns]

None



*********************************
Variable Categorica p2_20
*********************************

Info                      p2_20
Num_Registros              7834
Num_de_categorias             5
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 3796]
Top2                  [1, 1891]
Top3                  [2, 1191]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                3796      48.5%
1                   1891      24.1%
2                   1191      15.2%
3                    605       7.7%
4                    351       4.5%

None



*********************************
Variable Categorica inversion_total
*********************************

Info              inversion_total
Num_Registros                7834
Num_de_categorias              20
Moda                         NULO
Valores_faltantes               0
Top1                 [NULO, 2143]
Top2                    [1, 1166]
Top3                    [2, 1006]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                2143      27.4%
1                   1166      14.9%
2                   1006      12.8%
3                    823      10.5%
4                    632       8.1%
...                  ...        ...
15                    24       0.3%
16                    23       0.3%
18                     3       0.0%
19                     3       0.0%
17                     2       0.0%

[20 rows x 2 columns]

None



*********************************
Variable Categorica 2_22_autorizados
*********************************

Info              2_22_autorizados
Num_Registros                 7834
Num_de_categorias               27
Moda                          NULO
Valores_faltantes                0
Top1                  [NULO, 7082]
Top2                      [1, 280]
Top3                     [10, 258]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                7082      90.4%
1                    280       3.6%
10                   258       3.3%
20                    55       0.7%
2                     48       0.6%
...                  ...        ...
12                     1       0.0%
101                    1       0.0%
6                      1       0.0%
60                     1       0.0%
41                     1       0.0%

[27 rows x 2 columns]

None



*********************************
Variable Categorica p2_25
*********************************

Info                      p2_25
Num_Registros              7834
Num_de_categorias             5
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 7001]
Top2                   [2, 421]
Top3                   [3, 287]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                7001      89.4%
2                    421       5.4%
3                    287       3.7%
4                     75       1.0%
1                     50       0.6%

None



*********************************
Variable Categorica p2_27_bis
*********************************

Info                  p2_27_bis
Num_Registros              7834
Num_de_categorias             4
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 7229]
Top2                   [1, 510]
Top3                    [2, 52]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                7229      92.3%
1                    510       6.5%
2                     52       0.7%
3                     43       0.5%

None



*********************************
Variable Categorica 2_27
*********************************

Info                       2_27
Num_Registros              7834
Num_de_categorias             2
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 7229]
Top2                   [1, 605]
Top3                          0

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                7229      92.3%
1                    605       7.7%

None



*********************************
Variable Categorica p2_28
*********************************

Info                      p2_28
Num_Registros              7834
Num_de_categorias             4
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 7107]
Top2                   [2, 298]
Top3                   [3, 229]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                7107      90.7%
2                    298       3.8%
3                    229       2.9%
1                    200       2.6%

None



*********************************
Variable Categorica p2_29
*********************************

Info                   p2_29
Num_Registros           7834
Num_de_categorias          5
Moda                       1
Valores_faltantes          0
Top1               [1, 4922]
Top2               [2, 1324]
Top3                [4, 728]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
1                   4922      62.8%
2                   1324      16.9%
4                    728       9.3%
NULO                 523       6.7%
3                    337       4.3%

None



*********************************
Variable Categorica p2_31
*********************************

Info                      p2_31
Num_Registros              7834
Num_de_categorias             5
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 6814]
Top2                   [2, 295]
Top3                   [1, 260]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                6814      87.0%
2                    295       3.8%
1                    260       3.3%
3                    259       3.3%
4                    206       2.6%

None



*********************************
Variable Categorica p2_32
*********************************

Info                      p2_32
Num_Registros              7834
Num_de_categorias             4
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 6652]
Top2                   [1, 834]
Top3                   [2, 253]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                6652      84.9%
1                    834      10.6%
2                    253       3.2%
3                     95       1.2%

None



*********************************
Variable Categorica p2_33
*********************************

Info                      p2_33
Num_Registros              7834
Num_de_categorias             4
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 6678]
Top2                   [2, 509]
Top3                   [3, 370]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                6678      85.2%
2                    509       6.5%
3                    370       4.7%
1                    277       3.5%

None



*********************************
Variable Categorica p2_34_a
*********************************

Info                    p2_34_a
Num_Registros              7834
Num_de_categorias             5
Moda                          2
Valores_faltantes             0
Top1                  [2, 3875]
Top2                  [1, 2686]
Top3               [NULO, 1075]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   3875      49.5%
1                   2686      34.3%
NULO                1075      13.7%
97                   156       2.0%
3                     42       0.5%

None



*********************************
Variable Categorica p2_34_b
*********************************

Info                    p2_34_b
Num_Registros              7834
Num_de_categorias             5
Moda                          1
Valores_faltantes             0
Top1                  [1, 3595]
Top2                  [2, 2875]
Top3               [NULO, 1180]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
1                   3595      45.9%
2                   2875      36.7%
NULO                1180      15.1%
97                   136       1.7%
3                     48       0.6%

None



*********************************
Variable Categorica p2_34_c
*********************************

Info                    p2_34_c
Num_Registros              7834
Num_de_categorias             5
Moda                          2
Valores_faltantes             0
Top1                  [2, 5915]
Top2               [NULO, 1079]
Top3                   [1, 647]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   5915      75.5%
NULO                1079      13.8%
1                    647       8.3%
97                   156       2.0%
3                     37       0.5%

None



*********************************
Variable Categorica p2_34_d
*********************************

Info                    p2_34_d
Num_Registros              7834
Num_de_categorias             5
Moda                          2
Valores_faltantes             0
Top1                  [2, 4390]
Top2                  [1, 2158]
Top3               [NULO, 1100]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   4390      56.0%
1                   2158      27.5%
NULO                1100      14.0%
97                   149       1.9%
3                     37       0.5%

None



*********************************
Variable Categorica p2_34_e
*********************************

Info                    p2_34_e
Num_Registros              7834
Num_de_categorias             5
Moda                          2
Valores_faltantes             0
Top1                  [2, 4706]
Top2                  [1, 1800]
Top3               [NULO, 1132]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   4706      60.1%
1                   1800      23.0%
NULO                1132      14.4%
97                   157       2.0%
3                     39       0.5%

None



*********************************
Variable Categorica p2_35_a
*********************************

Info                   p2_35_a
Num_Registros             7834
Num_de_categorias            5
Moda                         2
Valores_faltantes            0
Top1                 [2, 5740]
Top2                 [1, 1465]
Top3               [NULO, 481]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   5740      73.3%
1                   1465      18.7%
NULO                 481       6.1%
97                   115       1.5%
3                     33       0.4%

None



*********************************
Variable Categorica p2_35_b
*********************************

Info                   p2_35_b
Num_Registros             7834
Num_de_categorias            5
Moda                         2
Valores_faltantes            0
Top1                 [2, 4878]
Top2                 [1, 2295]
Top3               [NULO, 528]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   4878      62.3%
1                   2295      29.3%
NULO                 528       6.7%
97                   107       1.4%
3                     26       0.3%

None



*********************************
Variable Categorica p2_35_c
*********************************

Info                   p2_35_c
Num_Registros             7834
Num_de_categorias            5
Moda                         2
Valores_faltantes            0
Top1                 [2, 3912]
Top2                 [1, 3017]
Top3               [NULO, 728]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   3912      49.9%
1                   3017      38.5%
NULO                 728       9.3%
97                   116       1.5%
3                     61       0.8%

None



*********************************
Variable Categorica p2_35_d
*********************************

Info                   p2_35_d
Num_Registros             7834
Num_de_categorias            5
Moda                         2
Valores_faltantes            0
Top1                 [2, 4299]
Top2                 [1, 2803]
Top3               [NULO, 623]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   4299      54.9%
1                   2803      35.8%
NULO                 623       8.0%
97                    80       1.0%
3                     29       0.4%

None



*********************************
Variable Categorica p2_35_e
*********************************

Info                   p2_35_e
Num_Registros             7834
Num_de_categorias            5
Moda                         2
Valores_faltantes            0
Top1                 [2, 4189]
Top2                 [1, 2836]
Top3               [NULO, 688]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   4189      53.5%
1                   2836      36.2%
NULO                 688       8.8%
97                    80       1.0%
3                     41       0.5%

None



*********************************
Variable Categorica p2_35_f
*********************************

Info                    p2_35_f
Num_Registros              7834
Num_de_categorias             5
Moda                          2
Valores_faltantes             0
Top1                  [2, 6348]
Top2               [NULO, 1070]
Top3                   [1, 164]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   6348      81.0%
NULO                1070      13.7%
1                    164       2.1%
97                   155       2.0%
3                     97       1.2%

None



*********************************
Variable Categorica p2_36
*********************************

Info                      p2_36
Num_Registros              7834
Num_de_categorias             3
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 7750]
Top2                    [1, 65]
Top3                    [2, 19]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                7750      98.9%
1                     65       0.8%
2                     19       0.2%

None



*********************************
Variable Categorica p2_39
*********************************

Info                      p2_39
Num_Registros              7834
Num_de_categorias             6
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 7769]
Top2                    [4, 29]
Top3                    [2, 15]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                7769      99.2%
4                     29       0.4%
2                     15       0.2%
3                      9       0.1%
5                      8       0.1%
1                      4       0.1%

None



*********************************
Variable Categorica p2_40
*********************************

Info                      p2_40
Num_Registros              7834
Num_de_categorias             4
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 7767]
Top2                    [3, 34]
Top3                    [1, 19]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                7767      99.1%
3                     34       0.4%
1                     19       0.2%
2                     14       0.2%

None



*********************************
Variable Categorica p2_41_imp
*********************************

Info                 p2_41_imp
Num_Registros             7834
Num_de_categorias            4
Moda                         3
Valores_faltantes            0
Top1                 [3, 5477]
Top2                 [2, 1098]
Top3               [NULO, 673]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
3                   5477      69.9%
2                   1098      14.0%
NULO                 673       8.6%
1                    586       7.5%

None



*********************************
Variable Categorica p2_41_contr
*********************************

Info               p2_41_contr
Num_Registros             7834
Num_de_categorias            4
Moda                         3
Valores_faltantes            0
Top1                 [3, 6181]
Top2                  [2, 991]
Top3               [NULO, 548]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
3                   6181      78.9%
2                    991      12.6%
NULO                 548       7.0%
1                    114       1.5%

None



*********************************
Variable Categorica p2_41_none
*********************************

Info                 p2_41_none
Num_Registros              7834
Num_de_categorias             8
Moda                          1
Valores_faltantes             0
Top1                  [1, 4242]
Top2               [NULO, 2270]
Top3                   [2, 735]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
1                   4242      54.1%
NULO                2270      29.0%
2                    735       9.4%
3                    318       4.1%
4                    140       1.8%
7                     47       0.6%
5                     45       0.6%
6                     37       0.5%

None



*********************************
Variable Categorica p2_41_imp2
*********************************

Info                 p2_41_imp2
Num_Registros              7834
Num_de_categorias             4
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 6613]
Top2                   [1, 772]
Top3                   [2, 322]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                6613      84.4%
1                    772       9.9%
2                    322       4.1%
3                    127       1.6%

None



*********************************
Variable Categorica p2_41_contr2
*********************************

Info               p2_41_contr2
Num_Registros              7834
Num_de_categorias             4
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 6926]
Top2                   [1, 721]
Top3                   [3, 108]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                6926      88.4%
1                    721       9.2%
3                    108       1.4%
2                     79       1.0%

None



*********************************
Variable Categorica p2_41_contr98
*********************************

Info              p2_41_contr98
Num_Registros              7834
Num_de_categorias             4
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 7173]
Top2                   [3, 374]
Top3                   [1, 253]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                7173      91.6%
3                    374       4.8%
1                    253       3.2%
2                     34       0.4%

None



*********************************
Variable Categorica p2_41_imp98
*********************************

Info                p2_41_imp98
Num_Registros              7834
Num_de_categorias             4
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 6789]
Top2                   [3, 454]
Top3                   [1, 392]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                6789      86.7%
3                    454       5.8%
1                    392       5.0%
2                    199       2.5%

None



*********************************
Variable Categorica p2_41_contr99
*********************************

Info              p2_41_contr99
Num_Registros              7834
Num_de_categorias             4
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 7738]
Top2                    [3, 59]
Top3                    [1, 34]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                7738      98.8%
3                     59       0.8%
1                     34       0.4%
2                      3       0.0%

None



*********************************
Variable Categorica p2_41_imp99
*********************************

Info                p2_41_imp99
Num_Registros              7834
Num_de_categorias             4
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 7660]
Top2                    [1, 72]
Top3                    [3, 64]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                7660      97.8%
1                     72       0.9%
3                     64       0.8%
2                     38       0.5%

None



*********************************
Variable Categorica p2_41_both
*********************************

Info              p2_41_both
Num_Registros           7834
Num_de_categorias          8
Moda                       6
Valores_faltantes          0
Top1               [6, 4414]
Top2               [5, 1064]
Top3                [7, 841]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
6                   4414      56.3%
5                   1064      13.6%
7                    841      10.7%
4                    561       7.2%
NULO                 477       6.1%
3                    285       3.6%
2                    132       1.7%
1                     60       0.8%

None



*********************************
Variable Categorica 2_41_g
*********************************

Info                     2_41_g
Num_Registros              7834
Num_de_categorias             2
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 6572]
Top2                  [1, 1262]
Top3                          0

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                6572      83.9%
1                   1262      16.1%

None



*********************************
Variable Categorica p2_42_imp
*********************************

Info                  p2_42_imp
Num_Registros              7834
Num_de_categorias             4
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 7350]
Top2                   [1, 221]
Top3                   [3, 164]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                7350      93.8%
1                    221       2.8%
3                    164       2.1%
2                     99       1.3%

None



*********************************
Variable Categorica p2_42_contr
*********************************

Info                p2_42_contr
Num_Registros              7834
Num_de_categorias             4
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 7352]
Top2                   [3, 235]
Top3                   [1, 128]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                7352      93.8%
3                    235       3.0%
1                    128       1.6%
2                    119       1.5%

None



*********************************
Variable Categorica p2_42_all
*********************************

Info                  p2_42_all
Num_Registros              7834
Num_de_categorias             8
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 7129]
Top2                   [1, 233]
Top3                   [3, 119]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                7129      91.0%
1                    233       3.0%
3                    119       1.5%
2                    114       1.5%
6                     90       1.1%
4                     69       0.9%
5                     53       0.7%
7                     27       0.3%

None



*********************************
Variable Categorica p2_42_none
*********************************

Info                 p2_42_none
Num_Registros              7834
Num_de_categorias             8
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 4540]
Top2                  [6, 1624]
Top3                   [5, 527]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                4540      58.0%
6                   1624      20.7%
5                    527       6.7%
7                    455       5.8%
4                    283       3.6%
3                    218       2.8%
2                    112       1.4%
1                     75       1.0%

None



*********************************
Variable Categorica p2_42_contr98
*********************************

Info              p2_42_contr98
Num_Registros              7834
Num_de_categorias             4
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 7755]
Top2                    [3, 41]
Top3                    [1, 21]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                7755      99.0%
3                     41       0.5%
1                     21       0.3%
2                     17       0.2%

None



*********************************
Variable Categorica p2_42_imp98
*********************************

Info                p2_42_imp98
Num_Registros              7834
Num_de_categorias             4
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 7702]
Top2                    [1, 59]
Top3                    [3, 40]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                7702      98.3%
1                     59       0.8%
3                     40       0.5%
2                     33       0.4%

None



*********************************
Variable Categorica p2_42_contr99
*********************************

Info              p2_42_contr99
Num_Registros              7834
Num_de_categorias             4
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 7828]
Top2                     [3, 3]
Top3                     [1, 2]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                7828      99.9%
3                      3       0.0%
1                      2       0.0%
2                      1       0.0%

None



*********************************
Variable Categorica p2_42_imp99
*********************************

Info                p2_42_imp99
Num_Registros              7834
Num_de_categorias             4
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 7822]
Top2                     [1, 8]
Top3                     [2, 2]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                7822      99.8%
1                      8       0.1%
2                      2       0.0%
3                      2       0.0%

None



*********************************
Variable Categorica 2_42_g2
*********************************

Info                    2_42_g2
Num_Registros              7834
Num_de_categorias             2
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 7728]
Top2                   [1, 106]
Top3                          0

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                7728      98.6%
1                    106       1.4%

None



*********************************
Variable Categorica p2_44_imp
*********************************

Info                  p2_44_imp
Num_Registros              7834
Num_de_categorias             4
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 6649]
Top2                   [3, 907]
Top3                   [1, 192]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                6649      84.9%
3                    907      11.6%
1                    192       2.5%
2                     86       1.1%

None



*********************************
Variable Categorica p2_44_contr
*********************************

Info                p2_44_contr
Num_Registros              7834
Num_de_categorias             4
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 6639]
Top2                   [3, 997]
Top3                   [2, 100]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                6639      84.7%
3                    997      12.7%
2                    100       1.3%
1                     98       1.3%

None



*********************************
Variable Categorica p2_44_none
*********************************

Info                 p2_44_none
Num_Registros              7834
Num_de_categorias             7
Moda                          6
Valores_faltantes             0
Top1                  [6, 5627]
Top2               [NULO, 1489]
Top3                   [5, 316]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
6                   5627      71.8%
NULO                1489      19.0%
5                    316       4.0%
3                    129       1.6%
4                    128       1.6%
2                     75       1.0%
1                     70       0.9%

None



*********************************
Variable Categorica p2_44_both
*********************************

Info                 p2_44_both
Num_Registros              7834
Num_de_categorias             7
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 6519]
Top2                   [6, 850]
Top3                   [1, 138]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                6519      83.2%
6                    850      10.9%
1                    138       1.8%
3                     91       1.2%
2                     81       1.0%
5                     81       1.0%
4                     74       0.9%

None



*********************************
Variable Categorica p2_44_contr98
*********************************

Info              p2_44_contr98
Num_Registros              7834
Num_de_categorias             4
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 7195]
Top2                   [3, 534]
Top3                    [1, 88]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                7195      91.8%
3                    534       6.8%
1                     88       1.1%
2                     17       0.2%

None



*********************************
Variable Categorica p2_44_imp98
*********************************

Info                p2_44_imp98
Num_Registros              7834
Num_de_categorias             4
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 7094]
Top2                   [3, 559]
Top3                   [1, 131]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                7094      90.6%
3                    559       7.1%
1                    131       1.7%
2                     50       0.6%

None



*********************************
Variable Categorica p2_44_imp99
*********************************

Info                p2_44_imp99
Num_Registros              7834
Num_de_categorias             4
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 7681]
Top2                    [1, 62]
Top3                    [3, 56]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                7681      98.0%
1                     62       0.8%
3                     56       0.7%
2                     35       0.4%

None



*********************************
Variable Categorica p2_44_contr99
*********************************

Info              p2_44_contr99
Num_Registros              7834
Num_de_categorias             4
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 7707]
Top2                    [1, 70]
Top3                    [3, 53]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                7707      98.4%
1                     70       0.9%
3                     53       0.7%
2                      4       0.1%

None



*********************************
Variable Categorica p2_45_imp
*********************************

Info                  p2_45_imp
Num_Registros              7834
Num_de_categorias             4
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 6704]
Top2                   [3, 948]
Top3                   [1, 119]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                6704      85.6%
3                    948      12.1%
1                    119       1.5%
2                     63       0.8%

None



*********************************
Variable Categorica p2_45_contr
*********************************

Info                p2_45_contr
Num_Registros              7834
Num_de_categorias             4
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 6701]
Top2                  [3, 1018]
Top3                    [2, 67]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                6701      85.5%
3                   1018      13.0%
2                     67       0.9%
1                     48       0.6%

None



*********************************
Variable Categorica p2_45_none
*********************************

Info                 p2_45_none
Num_Registros              7834
Num_de_categorias             7
Moda                          6
Valores_faltantes             0
Top1                  [6, 5436]
Top2               [NULO, 1848]
Top3                   [5, 223]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
6                   5436      69.4%
NULO                1848      23.6%
5                    223       2.8%
4                    105       1.3%
3                     98       1.3%
2                     74       0.9%
1                     50       0.6%

None



*********************************
Variable Categorica p2_45_both
*********************************

Info                 p2_45_both
Num_Registros              7834
Num_de_categorias             7
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 6619]
Top2                   [6, 906]
Top3                    [1, 76]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                6619      84.5%
6                    906      11.6%
1                     76       1.0%
3                     74       0.9%
4                     57       0.7%
5                     53       0.7%
2                     49       0.6%

None



*********************************
Variable Categorica p2_45_contr98
*********************************

Info              p2_45_contr98
Num_Registros              7834
Num_de_categorias             4
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 6897]
Top2                   [3, 855]
Top3                    [1, 68]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                6897      88.0%
3                    855      10.9%
1                     68       0.9%
2                     14       0.2%

None



*********************************
Variable Categorica p2_45_imp98
*********************************

Info                p2_45_imp98
Num_Registros              7834
Num_de_categorias             4
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 6792]
Top2                   [3, 861]
Top3                   [1, 122]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                6792      86.7%
3                    861      11.0%
1                    122       1.6%
2                     59       0.8%

None



*********************************
Variable Categorica p2_45_imp99
*********************************

Info                p2_45_imp99
Num_Registros              7834
Num_de_categorias             4
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 7683]
Top2                    [3, 60]
Top3                    [1, 55]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                7683      98.1%
3                     60       0.8%
1                     55       0.7%
2                     36       0.5%

None



*********************************
Variable Categorica p2_45_contr99
*********************************

Info              p2_45_contr99
Num_Registros              7834
Num_de_categorias             4
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 7712]
Top2                    [3, 61]
Top3                    [1, 60]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                7712      98.4%
3                     61       0.8%
1                     60       0.8%
2                      1       0.0%

None



*********************************
Variable Categorica p2_46
*********************************

Info                     p2_46
Num_Registros             7834
Num_de_categorias            3
Moda                         2
Valores_faltantes            0
Top1                 [2, 7366]
Top2                  [1, 318]
Top3               [NULO, 150]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   7366      94.0%
1                    318       4.1%
NULO                 150       1.9%

None



*********************************
Variable Categorica p2_47_a
*********************************

Info                    p2_47_a
Num_Registros              7834
Num_de_categorias             5
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 7533]
Top2                   [1, 188]
Top3                   [2, 109]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                7533      96.2%
1                    188       2.4%
2                    109       1.4%
3                      2       0.0%
97                     2       0.0%

None



*********************************
Variable Categorica p2_47_b
*********************************

Info                    p2_47_b
Num_Registros              7834
Num_de_categorias             5
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 7537]
Top2                   [2, 174]
Top3                   [1, 115]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                7537      96.2%
2                    174       2.2%
1                    115       1.5%
3                      5       0.1%
97                     3       0.0%

None



*********************************
Variable Categorica p2_47_c
*********************************

Info                    p2_47_c
Num_Registros              7834
Num_de_categorias             5
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 7539]
Top2                   [2, 176]
Top3                   [1, 114]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                7539      96.2%
2                    176       2.2%
1                    114       1.5%
97                     3       0.0%
3                      2       0.0%

None



*********************************
Variable Categorica p2_47_d
*********************************

Info                    p2_47_d
Num_Registros              7834
Num_de_categorias             5
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 7558]
Top2                   [2, 255]
Top3                    [1, 11]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                7558      96.5%
2                    255       3.3%
1                     11       0.1%
3                      6       0.1%
97                     4       0.1%

None



*********************************
Variable Categorica p3_1
*********************************

Info                    p3_1
Num_Registros           7834
Num_de_categorias          4
Moda                       1
Valores_faltantes          0
Top1               [1, 3438]
Top2               [3, 1817]
Top3               [2, 1638]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
1                   3438      43.9%
3                   1817      23.2%
2                   1638      20.9%
NULO                 941      12.0%

None



*********************************
Variable Categorica p3_3
*********************************

Info                    p3_3
Num_Registros           7834
Num_de_categorias          4
Moda                       1
Valores_faltantes          0
Top1               [1, 4543]
Top2               [2, 1326]
Top3               [3, 1299]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
1                   4543      58.0%
2                   1326      16.9%
3                   1299      16.6%
NULO                 666       8.5%

None



*********************************
Variable Categorica p3_5
*********************************

Info                    p3_5
Num_Registros           7834
Num_de_categorias          4
Moda                       2
Valores_faltantes          0
Top1               [2, 2816]
Top2               [1, 2305]
Top3               [3, 1957]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   2816      35.9%
1                   2305      29.4%
3                   1957      25.0%
NULO                 756       9.7%

None



*********************************
Variable Categorica p3_8
*********************************

Info                       p3_8
Num_Registros              7834
Num_de_categorias             4
Moda                          3
Valores_faltantes             0
Top1                  [3, 2796]
Top2                  [1, 2698]
Top3               [NULO, 1259]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
3                   2796      35.7%
1                   2698      34.4%
NULO                1259      16.1%
2                   1081      13.8%

None



*********************************
Variable Categorica p3_9
*********************************

Info                      p3_9
Num_Registros             7834
Num_de_categorias            3
Moda                         2
Valores_faltantes            0
Top1                 [2, 5045]
Top2                 [1, 2255]
Top3               [NULO, 534]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   5045      64.4%
1                   2255      28.8%
NULO                 534       6.8%

None



*********************************
Variable Categorica p3_10
*********************************

Info                   p3_10
Num_Registros           7834
Num_de_categorias          6
Moda                       2
Valores_faltantes          0
Top1               [2, 3221]
Top2               [4, 2105]
Top3               [3, 1460]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   3221      41.1%
4                   2105      26.9%
3                   1460      18.6%
5                    553       7.1%
NULO                 252       3.2%
1                    243       3.1%

None



*********************************
Variable Categorica p3_11
*********************************

Info                   p3_11
Num_Registros           7834
Num_de_categorias          6
Moda                       2
Valores_faltantes          0
Top1               [2, 4878]
Top2                [4, 891]
Top3                [1, 881]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   4878      62.3%
4                    891      11.4%
1                    881      11.2%
3                    718       9.2%
NULO                 285       3.6%
5                    181       2.3%

None



*********************************
Variable Categorica p3_12
*********************************

Info                      p3_12
Num_Registros              7834
Num_de_categorias             4
Moda                          3
Valores_faltantes             0
Top1                  [3, 3649]
Top2               [NULO, 2130]
Top3                  [1, 1333]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
3                   3649      46.6%
NULO                2130      27.2%
1                   1333      17.0%
2                    722       9.2%

None



*********************************
Variable Categorica p3_13
*********************************

Info                      p3_13
Num_Registros              7834
Num_de_categorias             3
Moda                          2
Valores_faltantes             0
Top1                  [2, 2857]
Top2                  [1, 2747]
Top3               [NULO, 2230]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   2857      36.5%
1                   2747      35.1%
NULO                2230      28.5%

None



*********************************
Variable Categorica p4_1
*********************************

Info                    p4_1
Num_Registros           7834
Num_de_categorias          5
Moda                       1
Valores_faltantes          0
Top1               [1, 4225]
Top2               [4, 2539]
Top3                [3, 502]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
1                   4225      53.9%
4                   2539      32.4%
3                    502       6.4%
2                    313       4.0%
NULO                 255       3.3%

None



*********************************
Variable Categorica p4_2
*********************************

Info                    p4_2
Num_Registros           7834
Num_de_categorias          6
Moda                       2
Valores_faltantes          0
Top1               [2, 3308]
Top2               [1, 2691]
Top3                [5, 624]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   3308      42.2%
1                   2691      34.4%
5                    624       8.0%
4                    603       7.7%
3                    353       4.5%
NULO                 255       3.3%

None



*********************************
Variable Categorica p4_3
*********************************

Info                      p4_3
Num_Registros             7834
Num_de_categorias            3
Moda                         2
Valores_faltantes            0
Top1                 [2, 5579]
Top2                 [1, 1953]
Top3               [NULO, 302]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   5579      71.2%
1                   1953      24.9%
NULO                 302       3.9%

None



*********************************
Variable Categorica p5_1
*********************************

Info                       p5_1
Num_Registros              7834
Num_de_categorias             6
Moda                          2
Valores_faltantes             0
Top1                  [2, 3754]
Top2               [NULO, 2521]
Top3                   [1, 663]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   3754      47.9%
NULO                2521      32.2%
1                    663       8.5%
3                    455       5.8%
4                    325       4.1%
5                    116       1.5%

None



*********************************
Variable Categorica p5_2
*********************************

Info                       p5_2
Num_Registros              7834
Num_de_categorias             4
Moda                          2
Valores_faltantes             0
Top1                  [2, 3924]
Top2               [NULO, 2433]
Top3                   [1, 876]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   3924      50.1%
NULO                2433      31.1%
1                    876      11.2%
3                    601       7.7%

None



*********************************
Variable Categorica p5_3
*********************************

Info                       p5_3
Num_Registros              7834
Num_de_categorias             5
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 6968]
Top2                   [2, 376]
Top3                   [1, 293]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                6968      88.9%
2                    376       4.8%
1                    293       3.7%
3                    156       2.0%
4                     41       0.5%

None



*********************************
Variable Categorica p5_4
*********************************

Info                       p5_4
Num_Registros              7834
Num_de_categorias             5
Moda                       NULO
Valores_faltantes             0
Top1               [NULO, 3140]
Top2                  [2, 1654]
Top3                  [3, 1100]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
NULO                3140      40.1%
2                   1654      21.1%
3                   1100      14.0%
1                    970      12.4%
4                    970      12.4%

None



*********************************
Variable Categorica p5_5
*********************************

Info                       p5_5
Num_Registros              7834
Num_de_categorias             6
Moda                          2
Valores_faltantes             0
Top1                  [2, 3509]
Top2               [NULO, 2581]
Top3                   [3, 566]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   3509      44.8%
NULO                2581      32.9%
3                    566       7.2%
4                    518       6.6%
1                    496       6.3%
5                    164       2.1%

None



*********************************
Variable Categorica p6_1
*********************************

Info                    p6_1
Num_Registros           7834
Num_de_categorias          2
Moda                       2
Valores_faltantes          0
Top1               [2, 4575]
Top2               [1, 3259]
Top3                       0

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   4575      58.4%
1                   3259      41.6%

None



*********************************
Variable Categorica p6_3
*********************************

Info                     p6_3
Num_Registros            7834
Num_de_categorias          14
Moda                       10
Valores_faltantes           0
Top1               [10, 3017]
Top2               [11, 2974]
Top3                 [9, 411]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
10                  3017      38.5%
11                  2974      38.0%
9                    411       5.2%
12                   400       5.1%
8                    379       4.8%
...                  ...        ...
3                     31       0.4%
13                    28       0.4%
4                      7       0.1%
2                      4       0.1%
1                      3       0.0%

[14 rows x 2 columns]

None

Porcentaje de valores nulos, NC, NS por pregunta:

In [260]:
null_bar_plot(df, vars_to_cat)