## Limpieza de Datos: 
## Encuestas de Patrones Infonavit

Carga de librerías:

In [251]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, OneHotEncoder,KBinsDiscretizer
from sklearn.impute import SimpleImputer
import sys, os
import re

In [252]:
os.getcwd()

'/home/mariana/Documents/TESIS_MS'

In [253]:
%reload_ext autoreload
%autoreload 
from utils.funcs_utils import *

Lectura de datos:

In [254]:
df= pd.read_csv("/home/mariana/Documents/TESIS_MS/BaseAgregada.csv")
df.rename(columns={col: col.lower() for col in df.columns.values},inplace=True)

/home/mariana/.pyenv/versions/deep_learning/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3170: DtypeWarning: Columns (5,21,23,24,26,27,35,37,67,68,69,70,71,74,75,76,77,78,79,80,83,84,85,86,87,88,89,90,92,93,95,96,97,99,100,101,102,105,106,107,108,109,110,124,132,133,143,144,145,146,147,148,149,151,152,153,167,168,169,170,174,176,178,189,190,192,193,195,196,205,210,211) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Se cambia el nombre de las columnas a minúscula:

In [255]:
count_unique_obs(df)

history_id_crm       7834
estrato_nuevo           3
estrato_nuevo_txt       3
ponderador_sgpff       54
pond_relativizado      51
region                 19
region_txt             10
empresas                2
p1_1_a                 14
p1_1_b                 94
p1_2                    8
p1_2_6_tx             344
p1_2_6_cod              8
p1_3_tx              6008
p1_3_cod               22
p1_4                   10
p1_4_9_tx             772
p1_4_9_cod             14
p1_5                    3
p2_1_tx1             3112
p2_1_cod11             20
p2_1_cod12              8
p2_1_tx2             2900
p2_1_1cod21            40
p2_1_1cod22             6
p2_1_tx3             1820
p2_1_2cod31            40
p2_1_2cod32             7
p2_2                  512
p2_3                   75
p2_4                  132
p2_5_a                113
p2_5_b                 83
p2_6                  505
p2_7                    4
p2_8                    9
p2_9                    4
p2_10                   7
p2_11                   5
p2_12                   4
p2_13                   5
p2_14                   5
p2_15                   3
p2_16                   6
p2_17                   4
p2_18                   5
p2_19_a                 4
p2_19_b                 4
p2_19_c                 4
p2_19_d                 4
p2_19_e                 4
p2_19_f                 4
p2_19_g                 4
p2_19_h                 4
p2_19_i                 4
p2_19_j                 4
p2_19_k                 4
p2_19_l                 4
p2_19_m                 4
p2_19_n                 4
p2_19_o                 4
p2_20_a                 4
p2_20_b                 4
p2_20_c                 4
p2_20_d                 4
p2_21                  14
p2_22                   5
p2_22_a                25
p2_22_b                12
p2_22_c                12
p2_22_d                15
p2_22_e                 9
p2_23                   8
p2_23_bis               9
p2_23_a                19
p2_23_b                22
p2_23_c                13
p2_23_d                18
p2_23_e                13
p2_23_f                 9
p2_23_f_tx              1
p2_23_f_cod             0
p2_24                  13
p2_24_a                38
p2_24_b                46
p2_24_c                40
p2_24_d                29
p2_24_e                29
p2_24_f                33
p2_24_g                23
p2_24_h                20
p2_24_h_tx             18
p2_24_h_cod             7
p2_25                  13
p2_26_tx              718
p2_26_cod1             32
p2_26_cod2              8
p2_26_cod3              2
p2_27                  11
p2_27_a                 9
p2_27_b                 9
p2_27_c                 9
p2_28                  11
p2_29                   6
p2_30_tx              848
p2_30_cod1             26
p2_30_cod2              9
p2_30_cod3              2
p2_31                  13
p2_32                  11
p2_33                  11
p2_34_a                 6
p2_34_b                 6
p2_34_c                 6
p2_34_d                 6
p2_34_e                 6
p2_35_a                 6
p2_35_b                 6
p2_35_c                 6
p2_35_d                 6
p2_35_e                 6
p2_35_f                 6
p2_35_f_tx            162
p2_35_f_cod            19
p2_36                   7
p2_37                  36
p2_38_a                20
p2_38_b                19
p2_38_c                13
p2_38_d                 9
p2_38_e                10
p2_38_f                 9
p2_39                  11
p2_40                   7
p2_41_a                 4
p2_41_b                 4
p2_41_c                 4
p2_41_d                 4
p2_41_e                 4
p2_41_f                 4
p2_41_g                 4
p2_41_g_tx            601
p2_41_g_cod            19
p2_42_a                 9
p2_42_b                 9
p2_42_c                 9
p2_42_d                 9
p2_42_e                 9
p2_42_f                 9
p2_42_g                 9
p2_43_tx              975
p2_43_cod1             35
p2_43_cod2             27
p2_43_cod3              2
p2_44_a                 4
p2_44_b                 4
p2_44_c                 4
p2_44_d                 4
p2_44_e                 4
p2_44_f                 4
p2_45_a                 4
p2_45_b                 4
p2_45_c                 4
p2_45_d                 4
p2_45_e                 4
p2_45_f                 4
p2_46                   4
p2_47_a                11
p2_47_b                13
p2_47_c                11
p2_47_d                13
p2_47_d_tx             12
p2_47_d_cod             4
p3_1                    5
p3_2                   92
p3_3                    5
p3_4                   90
p3_5                    5
p3_6                   89
p3_7_a                 14
p3_7_b                 21
p3_7_c                 32
p3_8                    5
p3_9                    4
p3_10                   7
p3_11                   7
p3_12                   5
p3_13                   4
p3_13_tx1            1856
p3_13_cod11            20
p3_13_cod12             2
p3_13_tx2            1057
p3_13_cod21            18
p3_13_cod22             2
p3_13_tx3             388
p3_13_cod31            18
p3_13_cod32             1
p4_1                    6
p4_2                    7
p4_3                    4
p4_4_a                 19
p4_4_b                 24
p4_4_c                 32
p5_1                    7
p5_2                    5
p5_3                   12
p5_4                    6
p5_5                    7
p5_6_tx              4638
p5_6_cod1               9
p5_6_cod2               7
p5_6_cod3               2
p6_1                    2
p6_2                   68
p6_3                   15
p6_4_tx              6575
pfin                    1
levantamiento           4
estrato                 7
estrato_txt             7
rfclimpio            7376
dtype: int64

In [256]:
df.dtypes

history_id_crm         int64
estrato_nuevo          int64
estrato_nuevo_txt     object
ponderador_sgpff     float64
pond_relativizado    float64
region                object
region_txt            object
empresas               int64
p1_1_a                 int64
p1_1_b                 int64
p1_2                   int64
p1_2_6_tx             object
p1_2_6_cod           float64
p1_3_tx               object
p1_3_cod              object
p1_4                   int64
p1_4_9_tx             object
p1_4_9_cod           float64
p1_5                   int64
p2_1_tx1              object
p2_1_cod11             int64
p2_1_cod12            object
p2_1_tx2              object
p2_1_1cod21           object
p2_1_1cod22           object
p2_1_tx3              object
p2_1_2cod31           object
p2_1_2cod32           object
p2_2                   int64
p2_3                   int64
p2_4                   int64
p2_5_a                 int64
p2_5_b                 int64
p2_6                   int64
p2_7                   int64
p2_8                  object
p2_9                   int64
p2_10                 object
p2_11                  int64
p2_12                  int64
p2_13                  int64
p2_14                  int64
p2_15                  int64
p2_16                float64
p2_17                  int64
p2_18                  int64
p2_19_a                int64
p2_19_b                int64
p2_19_c                int64
p2_19_d                int64
p2_19_e                int64
p2_19_f                int64
p2_19_g                int64
p2_19_h                int64
p2_19_i                int64
p2_19_j                int64
p2_19_k                int64
p2_19_l                int64
p2_19_m                int64
p2_19_n                int64
p2_19_o                int64
p2_20_a                int64
p2_20_b                int64
p2_20_c                int64
p2_20_d                int64
p2_21                  int64
p2_22                float64
p2_22_a               object
p2_22_b               object
p2_22_c               object
p2_22_d               object
p2_22_e               object
p2_23                float64
p2_23_bis            float64
p2_23_a               object
p2_23_b               object
p2_23_c               object
p2_23_d               object
p2_23_e               object
p2_23_f               object
p2_23_f_tx            object
p2_23_f_cod          float64
p2_24                float64
p2_24_a               object
p2_24_b               object
p2_24_c               object
p2_24_d               object
p2_24_e               object
p2_24_f               object
p2_24_g               object
p2_24_h               object
p2_24_h_tx            object
p2_24_h_cod           object
p2_25                 object
p2_26_tx              object
p2_26_cod1            object
p2_26_cod2            object
p2_26_cod3            object
p2_27                float64
p2_27_a               object
p2_27_b               object
p2_27_c               object
p2_28                 object
p2_29                  int64
p2_30_tx              object
p2_30_cod1            object
p2_30_cod2            object
p2_30_cod3            object
p2_31                 object
p2_32                 object
p2_33                 object
p2_34_a              float64
p2_34_b              float64
p2_34_c              float64
p2_34_d              float64
p2_34_e              float64
p2_35_a                int64
p2_35_b                int64
p2_35_c                int64
p2_35_d                int64
p2_35_e                int64
p2_35_f                int64
p2_35_f_tx            object
p2_35_f_cod          float64
p2_36                 object
p2_37                 object
p2_38_a               object
p2_38_b               object
p2_38_c               object
p2_38_d               object
p2_38_e               object
p2_38_f               object
p2_39                 object
p2_40                 object
p2_41_a                int64
p2_41_b                int64
p2_41_c                int64
p2_41_d                int64
p2_41_e                int64
p2_41_f                int64
p2_41_g                int64
p2_41_g_tx            object
p2_41_g_cod          float64
p2_42_a               object
p2_42_b               object
p2_42_c               object
p2_42_d               object
p2_42_e               object
p2_42_f               object
p2_42_g               object
p2_43_tx              object
p2_43_cod1            object
p2_43_cod2            object
p2_43_cod3            object
p2_44_a                int64
p2_44_b                int64
p2_44_c                int64
p2_44_d                int64
p2_44_e                int64
p2_44_f                int64
p2_45_a                int64
p2_45_b                int64
p2_45_c                int64
p2_45_d                int64
p2_45_e                int64
p2_45_f                int64
p2_46                  int64
p2_47_a               object
p2_47_b               object
p2_47_c               object
p2_47_d               object
p2_47_d_tx            object
p2_47_d_cod          float64
p3_1                   int64
p3_2                  object
p3_3                   int64
p3_4                  object
p3_5                   int64
p3_6                  object
p3_7_a                 int64
p3_7_b                 int64
p3_7_c               float64
p3_8                   int64
p3_9                   int64
p3_10                  int64
p3_11                  int64
p3_12                float64
p3_13                float64
p3_13_tx1             object
p3_13_cod11           object
p3_13_cod12           object
p3_13_tx2             object
p3_13_cod21           object
p3_13_cod22           object
p3_13_tx3             object
p3_13_cod31           object
p3_13_cod32           object
p4_1                   int64
p4_2                   int64
p4_3                   int64
p4_4_a                object
p4_4_b                object
p4_4_c               float64
p5_1                 float64
p5_2                 float64
p5_3                  object
p5_4                 float64
p5_5                 float64
p5_6_tx               object
p5_6_cod1            float64
p5_6_cod2             object
p5_6_cod3             object
p6_1                   int64
p6_2                   int64
p6_3                   int64
p6_4_tx               object
pfin                 float64
levantamiento         object
estrato              float64
estrato_txt           object
rfclimpio             object
dtype: object

Contamos el total de "sí=1" para ver en cuánto recurso invirtió

In [257]:
is_1= lambda x:int(x==1)

In [258]:
count_19 = lambda row: is_1(row['p2_19_a']) + is_1(row['p2_19_b'])+is_1(row['p2_19_c']) + is_1(row['p2_19_d'])+ is_1(row['p2_19_e']) + is_1(row['p2_19_f'])+ is_1(row['p2_19_g']) + is_1(row['p2_19_h'])+ is_1(row['p2_19_i']) + is_1(row['p2_19_j'])+is_1(row['p2_19_k']) + is_1(row['p2_19_l'])+ is_1(row['p2_19_m']) + is_1(row['p2_19_n'])+is_1(row['p2_19_o']) 
df['p2_19'] = df.apply(count_19 ,axis=1)

In [259]:
count_20 = lambda row: is_1(row['p2_20_a']) + is_1(row['p2_20_b'])+is_1(row['p2_20_c']) + is_1(row['p2_20_d']) 
df['p2_20'] = df.apply(count_20 ,axis=1)

In [260]:
count_19_20 = lambda row: is_1(row['p2_19_a']) + is_1(row['p2_19_b'])+is_1(row['p2_19_c']) + is_1(row['p2_19_d'])+ is_1(row['p2_19_e']) + is_1(row['p2_19_f'])+ is_1(row['p2_19_g']) + is_1(row['p2_19_h'])+ is_1(row['p2_19_i']) + is_1(row['p2_19_j'])+is_1(row['p2_19_k']) + is_1(row['p2_19_l'])+ is_1(row['p2_19_m']) + is_1(row['p2_19_n'])+is_1(row['p2_19_n']) + is_1(row['p2_20_a']) + is_1(row['p2_20_b'])+is_1(row['p2_20_c']) + is_1(row['p2_20_d'])
df['inversion_total'] = df.apply(count_19_20 ,axis=1)

Se suman únicamente los créditos autorizados.

In [261]:
df['2_22_autorizados'] = df['p2_22_a'] + df['p2_22_b']

Solicitud de créditos en el trimestre anterior.

In [262]:
df["p2_27_a"] = pd.to_numeric(df.p2_27_a, errors='coerce')
df["p2_27_b"] = pd.to_numeric(df.p2_27_b, errors='coerce')
df["p2_27_c"] = pd.to_numeric(df.p2_27_c, errors='coerce')

In [263]:
count_27 = lambda row: is_1(row['p2_27_a']) + is_1(row['p2_27_b'])+is_1(row['p2_27_c'])
df['p2_27_bis'] = df.apply(count_27,axis=1)

La variables 2_27 establece si en algún mes del trimestre anterior solicitó un crédito es 1, 0 en otro caso.

In [264]:
df['2_27'] = np.where(df['p2_27_bis']>0,1,0)

Si pagó impuestos y/o contribuciones el trimestre anterior: 1=Sí, 2=No.

In [265]:
is_2= lambda x:int(x==2)
is_98= lambda x:int(x==98)
is_99= lambda x:int(x==99)

In [266]:
count_imp = lambda row: is_1(row['p2_41_a']) + is_1(row['p2_41_b'])+is_1(row['p2_41_c'])
df['p2_41_imp'] = df.apply(count_imp ,axis=1)

In [267]:
count_contr= lambda row: is_1(row['p2_41_d']) + is_1(row['p2_41_e'])+is_1(row['p2_41_f'])
df['p2_41_contr'] = df.apply(count_contr ,axis=1)

In [268]:
count_none= lambda row: is_2(row['p2_41_a']) + is_2(row['p2_41_b'])+is_2(row['p2_41_c'])+ is_2(row['p2_41_d']) + is_2(row['p2_41_e'])+is_2(row['p2_41_f'])+ is_2(row['p2_41_g'])
df['p2_41_none'] = df.apply(count_none ,axis=1)

In [269]:
count_imp2 = lambda row: is_2(row['p2_41_a']) + is_2(row['p2_41_b'])+is_2(row['p2_41_c'])
df['p2_41_imp2'] = df.apply(count_imp2 ,axis=1)

In [270]:
count_contr2= lambda row: is_2(row['p2_41_d']) + is_2(row['p2_41_e'])+is_2(row['p2_41_f'])
df['p2_41_contr2'] = df.apply(count_contr2,axis=1)

In [271]:
count_98c= lambda row: is_98(row['p2_41_d']) + is_98(row['p2_41_e'])+is_98(row['p2_41_f'])
df['p2_41_contr98'] = df.apply(count_98c,axis=1)

In [272]:
count_98i= lambda row: is_98(row['p2_41_a']) + is_98(row['p2_41_b'])+is_98(row['p2_41_c'])
df['p2_41_imp98'] = df.apply(count_98i,axis=1)

In [273]:
count_99c= lambda row: is_99(row['p2_41_d']) + is_99(row['p2_41_e'])+is_99(row['p2_41_f'])
df['p2_41_contr99'] = df.apply(count_99c,axis=1)

In [274]:
count_99i= lambda row: is_99(row['p2_41_a']) + is_99(row['p2_41_b'])+is_99(row['p2_41_c'])
df['p2_41_imp99'] = df.apply(count_99i,axis=1)

In [275]:
count_both= lambda row: is_1(row['p2_41_a']) + is_1(row['p2_41_b'])+is_1(row['p2_41_c'])+ is_1(row['p2_41_d']) + is_1(row['p2_41_e'])+is_1(row['p2_41_f'])+ is_1(row['p2_41_g'])
df['p2_41_both'] = df.apply(count_both ,axis=1)

In [276]:
count_g= lambda row: is_1(row['p2_41_g'])
df['2_41_g'] = df.apply(count_g,axis=1)

Si pagó a tiempo los impuestos o contribuciones el trimetre anterior: 1=Sí, 2=No.

In [277]:
count_imp42 = lambda row: is_2(row['p2_42_a']) + is_2(row['p2_42_b'])+is_2(row['p2_42_c'])
df['p2_42_imp'] = df.apply(count_imp42 ,axis=1)

In [278]:
count_contr42= lambda row: is_2(row['p2_42_d']) + is_2(row['p2_42_e'])+is_2(row['p2_42_f'])
df['p2_42_contr'] = df.apply(count_contr42 ,axis=1)

In [279]:
count_all= lambda row: is_2(row['p2_42_a']) + is_2(row['p2_42_b'])+is_2(row['p2_42_c'])+ is_2(row['p2_42_d']) + is_2(row['p2_42_e'])+is_2(row['p2_42_f'])+ is_2(row['p2_42_g'])
df['p2_42_all'] = df.apply(count_all ,axis=1)

In [280]:
count_none42= lambda row: is_1(row['p2_42_a']) + is_1(row['p2_42_b'])+is_1(row['p2_42_c'])+ is_1(row['p2_42_d']) + is_1(row['p2_42_e'])+is_1(row['p2_42_f'])+ is_1(row['p2_42_g'])
df['p2_42_none'] = df.apply(count_none42 ,axis=1)

In [281]:
count_98c= lambda row: is_98(row['p2_42_d']) + is_98(row['p2_42_e'])+is_98(row['p2_42_f'])
df['p2_42_contr98'] = df.apply(count_98c,axis=1)

In [282]:
count_98i= lambda row: is_98(row['p2_42_a']) + is_98(row['p2_42_b'])+is_98(row['p2_42_c'])
df['p2_42_imp98'] = df.apply(count_98i,axis=1)

In [283]:
count_99c= lambda row: is_99(row['p2_42_d']) + is_99(row['p2_42_e'])+is_99(row['p2_42_f'])
df['p2_42_contr99'] = df.apply(count_99c,axis=1)

In [284]:
count_99i= lambda row: is_99(row['p2_42_a']) + is_99(row['p2_42_b'])+is_99(row['p2_42_c'])
df['p2_42_imp99'] = df.apply(count_99i,axis=1)

In [285]:
count_g= lambda row: is_2(row['p2_42_g'])
df['2_42_g2'] = df.apply(count_g,axis=1)

Dificultades para pagar durante este trimestre impuestos y/o contribuciones: 1=Sí, 2=No

In [286]:
count_imp = lambda row: is_1(row['p2_44_a']) + is_1(row['p2_44_b'])+is_1(row['p2_44_c'])
df['p2_44_imp'] = df.apply(count_imp ,axis=1)

In [287]:
count_contr= lambda row: is_1(row['p2_44_d']) + is_1(row['p2_44_e'])+is_1(row['p2_44_f'])
df['p2_44_contr'] = df.apply(count_contr ,axis=1)

In [288]:
count_none= lambda row: is_2(row['p2_44_a']) + is_2(row['p2_44_b'])+is_2(row['p2_44_c'])+ is_2(row['p2_44_d']) + is_2(row['p2_44_e'])+is_2(row['p2_44_f'])
df['p2_44_none'] = df.apply(count_none ,axis=1)

In [289]:
count_both= lambda row: is_1(row['p2_44_a']) + is_1(row['p2_44_b'])+is_1(row['p2_44_c'])+ is_1(row['p2_44_d']) + is_1(row['p2_44_e'])+is_1(row['p2_44_f'])
df['p2_44_both'] = df.apply(count_both ,axis=1)

In [290]:
count_98c= lambda row: is_98(row['p2_44_d']) + is_98(row['p2_44_e'])+is_98(row['p2_44_f'])
df['p2_44_contr98'] = df.apply(count_98c,axis=1)

In [291]:
count_98i= lambda row: is_98(row['p2_44_a']) + is_98(row['p2_44_b'])+is_98(row['p2_44_c'])
df['p2_44_imp98'] = df.apply(count_98i,axis=1)

In [292]:
count_99i= lambda row: is_99(row['p2_44_a']) + is_99(row['p2_44_b'])+is_99(row['p2_44_c'])
df['p2_44_imp99'] = df.apply(count_99i,axis=1)

In [293]:
count_99c= lambda row: is_99(row['p2_44_d']) + is_99(row['p2_44_e'])+is_99(row['p2_44_f'])
df['p2_44_contr99'] = df.apply(count_99c,axis=1)

Dificultades para pagar impuestos y/o contribuciones lo que resta del año: 1=Sí, 2=No

In [294]:
count_imp = lambda row: is_1(row['p2_45_a']) + is_1(row['p2_45_b'])+is_1(row['p2_45_c'])
df['p2_45_imp'] = df.apply(count_imp ,axis=1)

In [295]:
count_contr= lambda row: is_1(row['p2_45_d']) + is_1(row['p2_45_e'])+is_1(row['p2_45_f'])
df['p2_45_contr'] = df.apply(count_contr ,axis=1)

In [296]:
count_none= lambda row: is_2(row['p2_45_a']) + is_2(row['p2_45_b'])+is_2(row['p2_45_c'])+ is_2(row['p2_45_d']) + is_2(row['p2_45_e'])+is_2(row['p2_45_f'])
df['p2_45_none'] = df.apply(count_none ,axis=1)

In [297]:
count_both= lambda row: is_1(row['p2_45_a']) + is_1(row['p2_45_b'])+is_1(row['p2_45_c'])+ is_1(row['p2_45_d']) + is_1(row['p2_45_e'])+is_1(row['p2_45_f'])
df['p2_45_both'] = df.apply(count_both ,axis=1)

In [298]:
count_98c= lambda row: is_98(row['p2_45_d']) + is_98(row['p2_45_e'])+is_98(row['p2_45_f'])
df['p2_45_contr98'] = df.apply(count_98c,axis=1)

In [338]:
count_99c= lambda row: is_99(row['p2_45_d']) + is_99(row['p2_45_e'])+is_99(row['p2_45_f'])
df['p2_45_contr99'] = df.apply(count_99c,axis=1)

In [299]:
count_98i= lambda row: is_98(row['p2_45_a']) + is_98(row['p2_45_b'])+is_98(row['p2_45_c'])
df['p2_45_imp98'] = df.apply(count_98i,axis=1)

In [300]:
count_99i= lambda row: is_99(row['p2_45_a']) + is_99(row['p2_45_b'])+is_99(row['p2_45_c'])
df['p2_45_imp99'] = df.apply(count_99i,axis=1)

Convertimos todas las variables catagóricas que están como float a numéricas para homologar categorías.

In [339]:
pd.set_option('display.max_rows', 10)
convert_to_num(df,vars_to_cat)

,history_id_crm,estrato_nuevo,estrato_nuevo_txt,ponderador_sgpff,pond_relativizado,...,p2_45_both,p2_45_contr98,p2_45_imp98,p2_45_imp99,p2_45_contr99
0,7521766,1,Pequeña y micro (1 a 50 empleados),72.128114,NaN,...,6,0,0,0,0
1,7544090,1,Pequeña y micro (1 a 50 empleados),72.128114,NaN,...,0,0,0,0,0
2,7543953,1,Pequeña y micro (1 a 50 empleados),72.128114,NaN,...,0,0,0,0,0
3,7536178,1,Pequeña y micro (1 a 50 empleados),72.128114,NaN,...,0,0,0,0,0
4,7521922,1,Pequeña y micro (1 a 50 empleados),72.128114,NaN,...,2,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
7829,224423829,3,NaN,NaN,0.13,...,0,0,0,0,0
7830,224637558,1,NaN,NaN,4.56,...,0,0,0,0,0
7831,224475564,2,NaN,NaN,0.15,...,0,0,0,0,0
7832,223989494,3,NaN,NaN,0.05,...,0,0,0,0,0
7833,224656895,2,NaN,NaN,0.05,...,0,0,0,0,0

Algunas no las hace la función, por lo que se ejecutan manualmente.

In [340]:
df['p2_16'] = df['p2_16'].fillna(0).astype(int)
df['p2_27'] = df['p2_27'].fillna(0).astype(int)
df['p2_34_a'] = df['p2_34_a'].fillna(0).astype(int)
df['p2_34_b'] = df['p2_34_b'].fillna(0).astype(int)
df['p2_34_c'] = df['p2_34_c'].fillna(0).astype(int)
df['p2_34_d'] = df['p2_34_d'].fillna(0).astype(int)
df['p2_34_e'] = df['p2_34_e'].fillna(0).astype(int)
df['p3_12'] = df['p3_12'].fillna(0).astype(int)
df['p3_13'] = df['p3_13'].fillna(0).astype(int)
df['p5_1'] = df['p5_1'].fillna(0).astype(int)
df['p5_2'] = df['p5_2'].fillna(0).astype(int)
df['p5_4'] = df['p5_4'].fillna(0).astype(int)
df['p5_5'] = df['p5_5'].fillna(0).astype(int)

In [341]:
pd.set_option('display.max_rows', None)
df.dtypes

history_id_crm         int64
estrato_nuevo          int64
estrato_nuevo_txt     object
ponderador_sgpff     float64
pond_relativizado    float64
region                object
region_txt            object
empresas               int64
p1_1_a                 int64
p1_1_b                 int64
p1_2                   int64
p1_2_6_tx             object
p1_2_6_cod           float64
p1_3_tx               object
p1_3_cod              object
p1_4                   int64
p1_4_9_tx             object
p1_4_9_cod           float64
p1_5                   int64
p2_1_tx1              object
p2_1_cod11             int64
p2_1_cod12            object
p2_1_tx2              object
p2_1_1cod21           object
p2_1_1cod22           object
p2_1_tx3              object
p2_1_2cod31           object
p2_1_2cod32           object
p2_2                   int64
p2_3                   int64
p2_4                   int64
p2_5_a                 int64
p2_5_b                 int64
p2_6                   int64
p2_7                   int64
p2_8                  object
p2_9                   int64
p2_10                 object
p2_11                  int64
p2_12                  int64
p2_13                  int64
p2_14                  int64
p2_15                  int64
p2_16                  int64
p2_17                  int64
p2_18                  int64
p2_19_a                int64
p2_19_b                int64
p2_19_c                int64
p2_19_d                int64
p2_19_e                int64
p2_19_f                int64
p2_19_g                int64
p2_19_h                int64
p2_19_i                int64
p2_19_j                int64
p2_19_k                int64
p2_19_l                int64
p2_19_m                int64
p2_19_n                int64
p2_19_o                int64
p2_20_a                int64
p2_20_b                int64
p2_20_c                int64
p2_20_d                int64
p2_21                  int64
p2_22                float64
p2_22_a               object
p2_22_b               object
p2_22_c               object
p2_22_d               object
p2_22_e               object
p2_23                float64
p2_23_bis            float64
p2_23_a               object
p2_23_b               object
p2_23_c               object
p2_23_d               object
p2_23_e               object
p2_23_f               object
p2_23_f_tx            object
p2_23_f_cod          float64
p2_24                float64
p2_24_a               object
p2_24_b               object
p2_24_c               object
p2_24_d               object
p2_24_e               object
p2_24_f               object
p2_24_g               object
p2_24_h               object
p2_24_h_tx            object
p2_24_h_cod           object
p2_25                 object
p2_26_tx              object
p2_26_cod1            object
p2_26_cod2            object
p2_26_cod3            object
p2_27                  int64
p2_27_a              float64
p2_27_b              float64
p2_27_c              float64
p2_28                 object
p2_29                  int64
p2_30_tx              object
p2_30_cod1            object
p2_30_cod2            object
p2_30_cod3            object
p2_31                 object
p2_32                 object
p2_33                 object
p2_34_a                int64
p2_34_b                int64
p2_34_c                int64
p2_34_d                int64
p2_34_e                int64
p2_35_a                int64
p2_35_b                int64
p2_35_c                int64
p2_35_d                int64
p2_35_e                int64
p2_35_f                int64
p2_35_f_tx            object
p2_35_f_cod          float64
p2_36                 object
p2_37                 object
p2_38_a               object
p2_38_b               object
p2_38_c               object
p2_38_d               object
p2_38_e               object
p2_38_f               object
p2_39                 object
p2_40                 object
p2_41_a                int64
p2_41_b                int64
p2_41_c                int64
p2_41_d                int64
p2_41_e                int64
p2_41_f                int64
p2_41_g                int64
p2_41_g_tx            object
p2_41_g_cod          float64
p2_42_a               object
p2_42_b               object
p2_42_c               object
p2_42_d               object
p2_42_e               object
p2_42_f               object
p2_42_g               object
p2_43_tx              object
p2_43_cod1            object
p2_43_cod2            object
p2_43_cod3            object
p2_44_a                int64
p2_44_b                int64
p2_44_c                int64
p2_44_d                int64
p2_44_e                int64
p2_44_f                int64
p2_45_a                int64
p2_45_b                int64
p2_45_c                int64
p2_45_d                int64
p2_45_e                int64
p2_45_f                int64
p2_46                  int64
p2_47_a               object
p2_47_b               object
p2_47_c               object
p2_47_d               object
p2_47_d_tx            object
p2_47_d_cod          float64
p3_1                   int64
p3_2                  object
p3_3                   int64
p3_4                  object
p3_5                   int64
p3_6                  object
p3_7_a                 int64
p3_7_b                 int64
p3_7_c               float64
p3_8                   int64
p3_9                   int64
p3_10                  int64
p3_11                  int64
p3_12                  int64
p3_13                  int64
p3_13_tx1             object
p3_13_cod11           object
p3_13_cod12           object
p3_13_tx2             object
p3_13_cod21           object
p3_13_cod22           object
p3_13_tx3             object
p3_13_cod31           object
p3_13_cod32           object
p4_1                   int64
p4_2                   int64
p4_3                   int64
p4_4_a                object
p4_4_b                object
p4_4_c               float64
p5_1                   int64
p5_2                   int64
p5_3                  object
p5_4                   int64
p5_5                   int64
p5_6_tx               object
p5_6_cod1            float64
p5_6_cod2             object
p5_6_cod3             object
p6_1                   int64
p6_2                   int64
p6_3                   int64
p6_4_tx               object
pfin                 float64
levantamiento         object
estrato              float64
estrato_txt           object
rfclimpio             object
p2_19                  int64
p2_20                  int64
inversion_total        int64
2_22_autorizados      object
p2_27_bis              int64
2_27                   int64
p2_41_imp              int64
p2_41_contr            int64
p2_41_none             int64
p2_41_imp2             int64
p2_41_contr2           int64
p2_41_contr98          int64
p2_41_imp98            int64
p2_41_contr99          int64
p2_41_imp99            int64
p2_41_both             int64
2_41_g                 int64
p2_42_imp              int64
p2_42_contr            int64
p2_42_all              int64
p2_42_none             int64
p2_42_contr98          int64
p2_42_imp98            int64
p2_42_contr99          int64
p2_42_imp99            int64
2_42_g2                int64
p2_44_imp              int64
p2_44_contr            int64
p2_44_none             int64
p2_44_both             int64
p2_44_contr98          int64
p2_44_imp98            int64
p2_44_imp99            int64
p2_44_contr99          int64
p2_45_imp              int64
p2_45_contr            int64
p2_45_none             int64
p2_45_both             int64
p2_45_contr98          int64
p2_45_imp98            int64
p2_45_imp99            int64
p2_45_contr99          int64
dtype: object

Convertimos todas las variables en catagóricas.

In [342]:
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)
convert_object(df, vars_to_cat)

,history_id_crm,estrato_nuevo,estrato_nuevo_txt,ponderador_sgpff,pond_relativizado,...,p2_45_both,p2_45_contr98,p2_45_imp98,p2_45_imp99,p2_45_contr99
0,7521766,1,Pequeña y micro (1 a 50 empleados),72.128114,NaN,...,6,0,0,0,0
1,7544090,1,Pequeña y micro (1 a 50 empleados),72.128114,NaN,...,0,0,0,0,0
2,7543953,1,Pequeña y micro (1 a 50 empleados),72.128114,NaN,...,0,0,0,0,0
3,7536178,1,Pequeña y micro (1 a 50 empleados),72.128114,NaN,...,0,0,0,0,0
4,7521922,1,Pequeña y micro (1 a 50 empleados),72.128114,NaN,...,2,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
7829,224423829,3,NaN,NaN,0.13,...,0,0,0,0,0
7830,224637558,1,NaN,NaN,4.56,...,0,0,0,0,0
7831,224475564,2,NaN,NaN,0.15,...,0,0,0,0,0
7832,223989494,3,NaN,NaN,0.05,...,0,0,0,0,0
7833,224656895,2,NaN,NaN,0.05,...,0,0,0,0,0

In [343]:
pd.set_option('display.max_rows', None)
df.dtypes

history_id_crm         int64
estrato_nuevo          int64
estrato_nuevo_txt     object
ponderador_sgpff     float64
pond_relativizado    float64
region                object
region_txt            object
empresas               int64
p1_1_a                 int64
p1_1_b                 int64
p1_2                  object
p1_2_6_tx             object
p1_2_6_cod           float64
p1_3_tx               object
p1_3_cod              object
p1_4                   int64
p1_4_9_tx             object
p1_4_9_cod           float64
p1_5                   int64
p2_1_tx1              object
p2_1_cod11             int64
p2_1_cod12            object
p2_1_tx2              object
p2_1_1cod21           object
p2_1_1cod22           object
p2_1_tx3              object
p2_1_2cod31           object
p2_1_2cod32           object
p2_2                   int64
p2_3                   int64
p2_4                   int64
p2_5_a                 int64
p2_5_b                 int64
p2_6                   int64
p2_7                   int64
p2_8                  object
p2_9                   int64
p2_10                 object
p2_11                  int64
p2_12                  int64
p2_13                  int64
p2_14                  int64
p2_15                  int64
p2_16                  int64
p2_17                  int64
p2_18                  int64
p2_19_a                int64
p2_19_b                int64
p2_19_c                int64
p2_19_d                int64
p2_19_e                int64
p2_19_f                int64
p2_19_g                int64
p2_19_h                int64
p2_19_i                int64
p2_19_j                int64
p2_19_k                int64
p2_19_l                int64
p2_19_m                int64
p2_19_n                int64
p2_19_o                int64
p2_20_a                int64
p2_20_b                int64
p2_20_c                int64
p2_20_d                int64
p2_21                  int64
p2_22                float64
p2_22_a               object
p2_22_b               object
p2_22_c               object
p2_22_d               object
p2_22_e               object
p2_23                float64
p2_23_bis            float64
p2_23_a               object
p2_23_b               object
p2_23_c               object
p2_23_d               object
p2_23_e               object
p2_23_f               object
p2_23_f_tx            object
p2_23_f_cod          float64
p2_24                float64
p2_24_a               object
p2_24_b               object
p2_24_c               object
p2_24_d               object
p2_24_e               object
p2_24_f               object
p2_24_g               object
p2_24_h               object
p2_24_h_tx            object
p2_24_h_cod           object
p2_25                 object
p2_26_tx              object
p2_26_cod1            object
p2_26_cod2            object
p2_26_cod3            object
p2_27                  int64
p2_27_a              float64
p2_27_b              float64
p2_27_c              float64
p2_28                 object
p2_29                  int64
p2_30_tx              object
p2_30_cod1            object
p2_30_cod2            object
p2_30_cod3            object
p2_31                 object
p2_32                 object
p2_33                 object
p2_34_a                int64
p2_34_b                int64
p2_34_c                int64
p2_34_d                int64
p2_34_e                int64
p2_35_a                int64
p2_35_b                int64
p2_35_c                int64
p2_35_d                int64
p2_35_e                int64
p2_35_f                int64
p2_35_f_tx            object
p2_35_f_cod          float64
p2_36                 object
p2_37                 object
p2_38_a               object
p2_38_b               object
p2_38_c               object
p2_38_d               object
p2_38_e               object
p2_38_f               object
p2_39                 object
p2_40                 object
p2_41_a                int64
p2_41_b                int64
p2_41_c                int64
p2_41_d                int64
p2_41_e                int64
p2_41_f                int64
p2_41_g                int64
p2_41_g_tx            object
p2_41_g_cod          float64
p2_42_a               object
p2_42_b               object
p2_42_c               object
p2_42_d               object
p2_42_e               object
p2_42_f               object
p2_42_g               object
p2_43_tx              object
p2_43_cod1            object
p2_43_cod2            object
p2_43_cod3            object
p2_44_a                int64
p2_44_b                int64
p2_44_c                int64
p2_44_d                int64
p2_44_e                int64
p2_44_f                int64
p2_45_a                int64
p2_45_b                int64
p2_45_c                int64
p2_45_d                int64
p2_45_e                int64
p2_45_f                int64
p2_46                  int64
p2_47_a               object
p2_47_b               object
p2_47_c               object
p2_47_d               object
p2_47_d_tx            object
p2_47_d_cod          float64
p3_1                   int64
p3_2                  object
p3_3                   int64
p3_4                  object
p3_5                   int64
p3_6                  object
p3_7_a                 int64
p3_7_b                 int64
p3_7_c               float64
p3_8                   int64
p3_9                   int64
p3_10                  int64
p3_11                  int64
p3_12                  int64
p3_13                  int64
p3_13_tx1             object
p3_13_cod11           object
p3_13_cod12           object
p3_13_tx2             object
p3_13_cod21           object
p3_13_cod22           object
p3_13_tx3             object
p3_13_cod31           object
p3_13_cod32           object
p4_1                   int64
p4_2                   int64
p4_3                   int64
p4_4_a                object
p4_4_b                object
p4_4_c               float64
p5_1                   int64
p5_2                   int64
p5_3                  object
p5_4                   int64
p5_5                   int64
p5_6_tx               object
p5_6_cod1            float64
p5_6_cod2             object
p5_6_cod3             object
p6_1                   int64
p6_2                   int64
p6_3                   int64
p6_4_tx               object
pfin                 float64
levantamiento         object
estrato              float64
estrato_txt           object
rfclimpio             object
p2_19                  int64
p2_20                  int64
inversion_total        int64
2_22_autorizados      object
p2_27_bis              int64
2_27                   int64
p2_41_imp              int64
p2_41_contr            int64
p2_41_none             int64
p2_41_imp2             int64
p2_41_contr2           int64
p2_41_contr98          int64
p2_41_imp98            int64
p2_41_contr99          int64
p2_41_imp99            int64
p2_41_both             int64
2_41_g                 int64
p2_42_imp              int64
p2_42_contr            int64
p2_42_all              int64
p2_42_none             int64
p2_42_contr98          int64
p2_42_imp98            int64
p2_42_contr99          int64
p2_42_imp99            int64
2_42_g2                int64
p2_44_imp              int64
p2_44_contr            int64
p2_44_none             int64
p2_44_both             int64
p2_44_contr98          int64
p2_44_imp98            int64
p2_44_imp99            int64
p2_44_contr99          int64
p2_45_imp              int64
p2_45_contr            int64
p2_45_none             int64
p2_45_both             int64
p2_45_contr98          int64
p2_45_imp98            int64
p2_45_imp99            int64
p2_45_contr99          int64
dtype: object

In [344]:
data_profiling_categ(df, vars_to_cat)

*********************************
Variable Categorica p1_2
*********************************

Info                    p1_2
Num_Registros           7834
Num_de_categorias          8
Moda                       5
Valores_faltantes          0
Top1               [5, 3079]
Top2               [4, 1496]
Top3               [2, 1244]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
5                   3079      39.3%
4                   1496      19.1%
2                   1244      15.9%
3                   1155      14.7%
6                    417       5.3%
1                    360       4.6%
99                    64       0.8%
98                    19       0.2%

None



*********************************
Variable Categorica p1_4
*********************************

Info                    p1_4
Num_Registros           7834
Num_de_categorias         10
Moda                       5
Valores_faltantes          0
Top1               [5, 1966]
Top2               [9, 1656]
Top3               [3, 1533]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
5                   1966      25.1%
9                   1656      21.1%
3                   1533      19.6%
8                   1193      15.2%
2                    528       6.7%
7                    376       4.8%
1                    313       4.0%
4                    188       2.4%
99                    69       0.9%
6                     12       0.2%

None



*********************************
Variable Categorica p1_5
*********************************

Info                    p1_5
Num_Registros           7834
Num_de_categorias          3
Moda                       2
Valores_faltantes          0
Top1               [2, 5282]
Top2               [1, 2379]
Top3               [99, 173]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   5282      67.4%
1                   2379      30.4%
99                   173       2.2%

None



*********************************
Variable Categorica p2_7
*********************************

Info                    p2_7
Num_Registros           7834
Num_de_categorias          4
Moda                       2
Valores_faltantes          0
Top1               [2, 4670]
Top2               [1, 2846]
Top3               [98, 245]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   4670      59.6%
1                   2846      36.3%
98                   245       3.1%
99                    73       0.9%

None



*********************************
Variable Categorica p2_8
*********************************

Info                     p2_8
Num_Registros            7834
Num_de_categorias           9
Moda
Valores_faltantes        3881
Top1                [ , 1107]
Top2                [1, 1029]
Top3               [2.0, 696]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
                    1107      14.1%
1                   1029      13.1%
2.0                  696       8.9%
2                    645       8.2%
1.0                  444       5.7%
98                    21       0.3%
99                     5       0.1%
98.0                   4       0.1%
99.0                   2       0.0%

None



*********************************
Variable Categorica p2_9
*********************************

Info                    p2_9
Num_Registros           7834
Num_de_categorias          4
Moda                       2
Valores_faltantes          0
Top1               [2, 7175]
Top2                [1, 427]
Top3               [98, 168]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   7175      91.6%
1                    427       5.5%
98                   168       2.1%
99                    64       0.8%

None



*********************************
Variable Categorica p2_10
*********************************

Info                    p2_10
Num_Registros            7834
Num_de_categorias           7
Moda
Valores_faltantes        5804
Top1                [ , 1603]
Top2               [1.0, 129]
Top3                 [1, 121]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
                    1603      20.5%
1.0                  129       1.6%
1                    121       1.5%
2                     88       1.1%
2.0                   85       1.1%
98                     3       0.0%
98.0                   1       0.0%

None



*********************************
Variable Categorica p2_11
*********************************

Info                   p2_11
Num_Registros           7834
Num_de_categorias          5
Moda                       3
Valores_faltantes          0
Top1               [3, 4109]
Top2               [1, 2381]
Top3                [2, 974]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
3                   4109      52.5%
1                   2381      30.4%
2                    974      12.4%
98                   282       3.6%
99                    88       1.1%

None



*********************************
Variable Categorica p2_12
*********************************

Info                   p2_12
Num_Registros           7834
Num_de_categorias          4
Moda                       2
Valores_faltantes          0
Top1               [2, 5525]
Top2               [1, 1739]
Top3               [98, 490]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   5525      70.5%
1                   1739      22.2%
98                   490       6.3%
99                    80       1.0%

None



*********************************
Variable Categorica p2_13
*********************************

Info                   p2_13
Num_Registros           7834
Num_de_categorias          5
Moda                       2
Valores_faltantes          0
Top1               [2, 4171]
Top2               [1, 1574]
Top3               [3, 1227]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   4171      53.2%
1                   1574      20.1%
3                   1227      15.7%
98                   718       9.2%
99                   144       1.8%

None



*********************************
Variable Categorica p2_14
*********************************

Info                   p2_14
Num_Registros           7834
Num_de_categorias          5
Moda                       2
Valores_faltantes          0
Top1               [2, 2975]
Top2               [1, 1911]
Top3               [3, 1522]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   2975      38.0%
1                   1911      24.4%
3                   1522      19.4%
99                   926      11.8%
98                   500       6.4%

None



*********************************
Variable Categorica p2_15
*********************************

Info                   p2_15
Num_Registros           7834
Num_de_categorias          3
Moda                       2
Valores_faltantes          0
Top1               [2, 6190]
Top2               [1, 1525]
Top3               [99, 119]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   6190      79.0%
1                   1525      19.5%
99                   119       1.5%

None



*********************************
Variable Categorica p2_16
*********************************

Info                   p2_16
Num_Registros           7834
Num_de_categorias          7
Moda                       0
Valores_faltantes          0
Top1               [0, 6309]
Top2                [5, 803]
Top3                [1, 237]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   6309      80.5%
5                    803      10.3%
1                    237       3.0%
3                    175       2.2%
2                    135       1.7%
99                    99       1.3%
4                     76       1.0%

None



*********************************
Variable Categorica p2_17
*********************************

Info                   p2_17
Num_Registros           7834
Num_de_categorias          4
Moda                       2
Valores_faltantes          0
Top1               [2, 4208]
Top2               [1, 1766]
Top3               [3, 1135]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   4208      53.7%
1                   1766      22.5%
3                   1135      14.5%
99                   725       9.3%

None



*********************************
Variable Categorica p2_18
*********************************

Info                   p2_18
Num_Registros           7834
Num_de_categorias          5
Moda                       1
Valores_faltantes          0
Top1               [1, 4264]
Top2               [2, 1742]
Top3               [3, 1272]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
1                   4264      54.4%
2                   1742      22.2%
3                   1272      16.2%
98                   383       4.9%
99                   173       2.2%

None



*********************************
Variable Categorica p2_19
*********************************

Info                   p2_19
Num_Registros           7834
Num_de_categorias         16
Moda                       0
Valores_faltantes          0
Top1               [0, 2811]
Top2               [1, 1461]
Top3               [2, 1052]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   2811      35.9%
1                   1461      18.6%
2                   1052      13.4%
3                    788      10.1%
4                    522       6.7%
5                    413       5.3%
6                    249       3.2%
7                    209       2.7%
8                    129       1.6%
9                     74       0.9%
10                    57       0.7%
12                    23       0.3%
11                    22       0.3%
13                    13       0.2%
15                     6       0.1%
14                     5       0.1%

None



*********************************
Variable Categorica p2_20
*********************************

Info                   p2_20
Num_Registros           7834
Num_de_categorias          5
Moda                       0
Valores_faltantes          0
Top1               [0, 3796]
Top2               [1, 1891]
Top3               [2, 1191]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   3796      48.5%
1                   1891      24.1%
2                   1191      15.2%
3                    605       7.7%
4                    351       4.5%

None



*********************************
Variable Categorica inversion_total
*********************************

Info              inversion_total
Num_Registros                7834
Num_de_categorias              20
Moda                            0
Valores_faltantes               0
Top1                    [0, 2143]
Top2                    [1, 1166]
Top3                    [2, 1006]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   2143      27.4%
1                   1166      14.9%
2                   1006      12.8%
3                    823      10.5%
4                    632       8.1%
5                    503       6.4%
6                    405       5.2%
7                    298       3.8%
8                    257       3.3%
9                    194       2.5%
10                   134       1.7%
11                    83       1.1%
12                    55       0.7%
13                    49       0.6%
14                    31       0.4%
15                    24       0.3%
16                    23       0.3%
18                     3       0.0%
19                     3       0.0%
17                     2       0.0%

None



*********************************
Variable Categorica 2_22_autorizados
*********************************

Info              2_22_autorizados
Num_Registros                 7834
Num_de_categorias               38
Moda
Valores_faltantes             3857
Top1                    [  , 1483]
Top2                   [0.0, 1441]
Top3                     [00, 296]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
                    1483      18.9%
0.0                 1441      18.4%
00                   296       3.8%
1.0                  273       3.5%
10                   256       3.3%
20                    54       0.7%
2.0                   45       0.6%
30                    28       0.4%
9898                  14       0.2%
3.0                   12       0.2%
50                     9       0.1%
4.0                    8       0.1%
01                     7       0.1%
100.0                  7       0.1%
40                     5       0.1%
196.0                  4       0.1%
99.0                   4       0.1%
5.0                    4       0.1%
02                     3       0.0%
21                     3       0.0%
10.0                   2       0.0%
100                    2       0.0%
11                     2       0.0%
140                    1       0.0%
200                    1       0.0%
05                     1       0.0%
198                    1       0.0%
6.0                    1       0.0%
41                     1       0.0%
60                     1       0.0%
103.0                  1       0.0%
102.0                  1       0.0%
101.0                  1       0.0%
98.0                   1       0.0%
21.0                   1       0.0%
20.0                   1       0.0%
12.0                   1       0.0%
320                    1       0.0%

None



*********************************
Variable Categorica p2_25
*********************************

Info                    p2_25
Num_Registros            7834
Num_de_categorias          13
Moda
Valores_faltantes        5435
Top1                [ , 1483]
Top2               [2.0, 226]
Top3                 [2, 195]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
                    1483      18.9%
2.0                  226       2.9%
2                    195       2.5%
3.0                  144       1.8%
3                    143       1.8%
4                     42       0.5%
4.0                   33       0.4%
99                    32       0.4%
1.0                   27       0.3%
1                     23       0.3%
98                    18       0.2%
98.0                  17       0.2%
99.0                  16       0.2%

None



*********************************
Variable Categorica p2_27_bis
*********************************

Info               p2_27_bis
Num_Registros           7834
Num_de_categorias          4
Moda                       0
Valores_faltantes          0
Top1               [0, 7229]
Top2                [1, 510]
Top3                 [2, 52]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   7229      92.3%
1                    510       6.5%
2                     52       0.7%
3                     43       0.5%

None



*********************************
Variable Categorica 2_27
*********************************

Info                    2_27
Num_Registros           7834
Num_de_categorias          2
Moda                       0
Valores_faltantes          0
Top1               [0, 7229]
Top2                [1, 605]
Top3                       0

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   7229      92.3%
1                    605       7.7%

None



*********************************
Variable Categorica p2_28
*********************************

Info                    p2_28
Num_Registros            7834
Num_de_categorias          11
Moda
Valores_faltantes        5435
Top1                [ , 1483]
Top2               [2.0, 156]
Top3                 [2, 142]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
                    1483      18.9%
2.0                  156       2.0%
2                    142       1.8%
3.0                  115       1.5%
3                    114       1.5%
1.0                  108       1.4%
1                     92       1.2%
98                    61       0.8%
98.0                  56       0.7%
99                    44       0.6%
99.0                  28       0.4%

None



*********************************
Variable Categorica p2_29
*********************************

Info                   p2_29
Num_Registros           7834
Num_de_categorias          6
Moda                       1
Valores_faltantes          0
Top1               [1, 4922]
Top2               [2, 1324]
Top3                [4, 728]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
1                   4922      62.8%
2                   1324      16.9%
4                    728       9.3%
3                    337       4.3%
98                   332       4.2%
99                   191       2.4%

None



*********************************
Variable Categorica p2_31
*********************************

Info                   p2_31
Num_Registros           7834
Num_de_categorias         13
Moda
Valores_faltantes       5341
Top1               [ , 1428]
Top2                [2, 165]
Top3                [1, 141]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
                    1428      18.2%
2                    165       2.1%
1                    141       1.8%
3.0                  136       1.7%
2.0                  130       1.7%
3                    123       1.6%
1.0                  119       1.5%
4                    104       1.3%
4.0                  102       1.3%
98                    23       0.3%
98.0                  17       0.2%
99.0                   3       0.0%
99                     2       0.0%

None



*********************************
Variable Categorica p2_32
*********************************

Info                    p2_32
Num_Registros            7834
Num_de_categorias          11
Moda
Valores_faltantes        5018
Top1                [ , 1492]
Top2                 [1, 473]
Top3               [1.0, 361]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
                    1492      19.0%
1                    473       6.0%
1.0                  361       4.6%
2.0                  151       1.9%
2                    102       1.3%
98.0                  95       1.2%
3.0                   81       1.0%
98                    40       0.5%
3                     14       0.2%
99.0                   5       0.1%
99                     2       0.0%

None



*********************************
Variable Categorica p2_33
*********************************

Info                    p2_33
Num_Registros            7834
Num_de_categorias          11
Moda
Valores_faltantes        5018
Top1                [ , 1492]
Top2               [2.0, 266]
Top3                 [2, 243]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
                    1492      19.0%
2.0                  266       3.4%
2                    243       3.1%
3.0                  195       2.5%
3                    175       2.2%
1                    141       1.8%
1.0                  136       1.7%
98.0                  81       1.0%
98                    67       0.9%
99.0                  15       0.2%
99                     5       0.1%

None



*********************************
Variable Categorica p2_34_a
*********************************

Info                 p2_34_a
Num_Registros           7834
Num_de_categorias          7
Moda                       2
Valores_faltantes          0
Top1               [2, 3875]
Top2               [1, 2686]
Top3               [98, 493]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   3875      49.5%
1                   2686      34.3%
98                   493       6.3%
0                    476       6.1%
97                   156       2.0%
99                   106       1.4%
3                     42       0.5%

None



*********************************
Variable Categorica p2_34_b
*********************************

Info                 p2_34_b
Num_Registros           7834
Num_de_categorias          7
Moda                       1
Valores_faltantes          0
Top1               [1, 3595]
Top2               [2, 2875]
Top3               [98, 591]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
1                   3595      45.9%
2                   2875      36.7%
98                   591       7.5%
0                    476       6.1%
97                   136       1.7%
99                   113       1.4%
3                     48       0.6%

None



*********************************
Variable Categorica p2_34_c
*********************************

Info                 p2_34_c
Num_Registros           7834
Num_de_categorias          7
Moda                       2
Valores_faltantes          0
Top1               [2, 5915]
Top2                [1, 647]
Top3               [98, 486]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   5915      75.5%
1                    647       8.3%
98                   486       6.2%
0                    476       6.1%
97                   156       2.0%
99                   117       1.5%
3                     37       0.5%

None



*********************************
Variable Categorica p2_34_d
*********************************

Info                 p2_34_d
Num_Registros           7834
Num_de_categorias          7
Moda                       2
Valores_faltantes          0
Top1               [2, 4390]
Top2               [1, 2158]
Top3               [98, 505]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   4390      56.0%
1                   2158      27.5%
98                   505       6.4%
0                    476       6.1%
97                   149       1.9%
99                   119       1.5%
3                     37       0.5%

None



*********************************
Variable Categorica p2_34_e
*********************************

Info                 p2_34_e
Num_Registros           7834
Num_de_categorias          7
Moda                       2
Valores_faltantes          0
Top1               [2, 4706]
Top2               [1, 1800]
Top3               [98, 536]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   4706      60.1%
1                   1800      23.0%
98                   536       6.8%
0                    476       6.1%
97                   157       2.0%
99                   120       1.5%
3                     39       0.5%

None



*********************************
Variable Categorica p2_35_a
*********************************

Info                 p2_35_a
Num_Registros           7834
Num_de_categorias          6
Moda                       2
Valores_faltantes          0
Top1               [2, 5740]
Top2               [1, 1465]
Top3               [98, 406]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   5740      73.3%
1                   1465      18.7%
98                   406       5.2%
97                   115       1.5%
99                    75       1.0%
3                     33       0.4%

None



*********************************
Variable Categorica p2_35_b
*********************************

Info                 p2_35_b
Num_Registros           7834
Num_de_categorias          6
Moda                       2
Valores_faltantes          0
Top1               [2, 4878]
Top2               [1, 2295]
Top3               [98, 449]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   4878      62.3%
1                   2295      29.3%
98                   449       5.7%
97                   107       1.4%
99                    79       1.0%
3                     26       0.3%

None



*********************************
Variable Categorica p2_35_c
*********************************

Info                 p2_35_c
Num_Registros           7834
Num_de_categorias          6
Moda                       2
Valores_faltantes          0
Top1               [2, 3912]
Top2               [1, 3017]
Top3               [98, 651]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   3912      49.9%
1                   3017      38.5%
98                   651       8.3%
97                   116       1.5%
99                    77       1.0%
3                     61       0.8%

None



*********************************
Variable Categorica p2_35_d
*********************************

Info                 p2_35_d
Num_Registros           7834
Num_de_categorias          6
Moda                       2
Valores_faltantes          0
Top1               [2, 4299]
Top2               [1, 2803]
Top3               [98, 542]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   4299      54.9%
1                   2803      35.8%
98                   542       6.9%
99                    81       1.0%
97                    80       1.0%
3                     29       0.4%

None



*********************************
Variable Categorica p2_35_e
*********************************

Info                 p2_35_e
Num_Registros           7834
Num_de_categorias          6
Moda                       2
Valores_faltantes          0
Top1               [2, 4189]
Top2               [1, 2836]
Top3               [98, 604]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   4189      53.5%
1                   2836      36.2%
98                   604       7.7%
99                    84       1.1%
97                    80       1.0%
3                     41       0.5%

None



*********************************
Variable Categorica p2_35_f
*********************************

Info                 p2_35_f
Num_Registros           7834
Num_de_categorias          6
Moda                       2
Valores_faltantes          0
Top1               [2, 6348]
Top2               [99, 672]
Top3               [98, 398]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   6348      81.0%
99                   672       8.6%
98                   398       5.1%
1                    164       2.1%
97                   155       2.0%
3                     97       1.2%

None



*********************************
Variable Categorica p2_36
*********************************

Info                   p2_36
Num_Registros           7834
Num_de_categorias          7
Moda
Valores_faltantes       6070
Top1               [ , 1678]
Top2                 [1, 36]
Top3               [1.0, 29]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
                    1678      21.4%
1                     36       0.5%
1.0                   29       0.4%
2                     11       0.1%
2.0                    8       0.1%
99.0                   1       0.0%
99                     1       0.0%

None



*********************************
Variable Categorica p2_39
*********************************

Info                   p2_39
Num_Registros           7834
Num_de_categorias         11
Moda
Valores_faltantes       6085
Top1               [ , 1684]
Top2                 [4, 18]
Top3               [4.0, 11]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
                    1684      21.5%
4                     18       0.2%
4.0                   11       0.1%
2                      8       0.1%
2.0                    7       0.1%
3                      5       0.1%
3.0                    4       0.1%
5.0                    4       0.1%
5                      4       0.1%
1.0                    3       0.0%
1                      1       0.0%

None



*********************************
Variable Categorica p2_40
*********************************

Info                   p2_40
Num_Registros           7834
Num_de_categorias          7
Moda
Valores_faltantes       6083
Top1               [ , 1684]
Top2                 [3, 19]
Top3               [3.0, 15]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
                    1684      21.5%
3                     19       0.2%
3.0                   15       0.2%
1                     11       0.1%
1.0                    8       0.1%
2.0                    7       0.1%
2                      7       0.1%

None



*********************************
Variable Categorica p2_41_imp
*********************************

Info               p2_41_imp
Num_Registros           7834
Num_de_categorias          4
Moda                       3
Valores_faltantes          0
Top1               [3, 5477]
Top2               [2, 1098]
Top3                [0, 673]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
3                   5477      69.9%
2                   1098      14.0%
0                    673       8.6%
1                    586       7.5%

None



*********************************
Variable Categorica p2_41_contr
*********************************

Info              p2_41_contr
Num_Registros            7834
Num_de_categorias           4
Moda                        3
Valores_faltantes           0
Top1                [3, 6181]
Top2                 [2, 991]
Top3                 [0, 548]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
3                   6181      78.9%
2                    991      12.6%
0                    548       7.0%
1                    114       1.5%

None



*********************************
Variable Categorica p2_41_none
*********************************

Info              p2_41_none
Num_Registros           7834
Num_de_categorias          8
Moda                       1
Valores_faltantes          0
Top1               [1, 4242]
Top2               [0, 2270]
Top3                [2, 735]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
1                   4242      54.1%
0                   2270      29.0%
2                    735       9.4%
3                    318       4.1%
4                    140       1.8%
7                     47       0.6%
5                     45       0.6%
6                     37       0.5%

None



*********************************
Variable Categorica p2_41_imp2
*********************************

Info              p2_41_imp2
Num_Registros           7834
Num_de_categorias          4
Moda                       0
Valores_faltantes          0
Top1               [0, 6613]
Top2                [1, 772]
Top3                [2, 322]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   6613      84.4%
1                    772       9.9%
2                    322       4.1%
3                    127       1.6%

None



*********************************
Variable Categorica p2_41_contr2
*********************************

Info              p2_41_contr2
Num_Registros             7834
Num_de_categorias            4
Moda                         0
Valores_faltantes            0
Top1                 [0, 6926]
Top2                  [1, 721]
Top3                  [3, 108]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   6926      88.4%
1                    721       9.2%
3                    108       1.4%
2                     79       1.0%

None



*********************************
Variable Categorica p2_41_contr98
*********************************

Info              p2_41_contr98
Num_Registros              7834
Num_de_categorias             4
Moda                          0
Valores_faltantes             0
Top1                  [0, 7173]
Top2                   [3, 374]
Top3                   [1, 253]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   7173      91.6%
3                    374       4.8%
1                    253       3.2%
2                     34       0.4%

None



*********************************
Variable Categorica p2_41_imp98
*********************************

Info              p2_41_imp98
Num_Registros            7834
Num_de_categorias           4
Moda                        0
Valores_faltantes           0
Top1                [0, 6789]
Top2                 [3, 454]
Top3                 [1, 392]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   6789      86.7%
3                    454       5.8%
1                    392       5.0%
2                    199       2.5%

None



*********************************
Variable Categorica p2_41_contr99
*********************************

Info              p2_41_contr99
Num_Registros              7834
Num_de_categorias             4
Moda                          0
Valores_faltantes             0
Top1                  [0, 7738]
Top2                    [3, 59]
Top3                    [1, 34]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   7738      98.8%
3                     59       0.8%
1                     34       0.4%
2                      3       0.0%

None



*********************************
Variable Categorica p2_41_imp99
*********************************

Info              p2_41_imp99
Num_Registros            7834
Num_de_categorias           4
Moda                        0
Valores_faltantes           0
Top1                [0, 7660]
Top2                  [1, 72]
Top3                  [3, 64]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   7660      97.8%
1                     72       0.9%
3                     64       0.8%
2                     38       0.5%

None



*********************************
Variable Categorica p2_41_both
*********************************

Info              p2_41_both
Num_Registros           7834
Num_de_categorias          8
Moda                       6
Valores_faltantes          0
Top1               [6, 4414]
Top2               [5, 1064]
Top3                [7, 841]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
6                   4414      56.3%
5                   1064      13.6%
7                    841      10.7%
4                    561       7.2%
0                    477       6.1%
3                    285       3.6%
2                    132       1.7%
1                     60       0.8%

None



*********************************
Variable Categorica 2_41_g
*********************************

Info                  2_41_g
Num_Registros           7834
Num_de_categorias          2
Moda                       0
Valores_faltantes          0
Top1               [0, 6572]
Top2               [1, 1262]
Top3                       0

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   6572      83.9%
1                   1262      16.1%

None



*********************************
Variable Categorica p2_42_imp
*********************************

Info               p2_42_imp
Num_Registros           7834
Num_de_categorias          4
Moda                       0
Valores_faltantes          0
Top1               [0, 7350]
Top2                [1, 221]
Top3                [3, 164]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   7350      93.8%
1                    221       2.8%
3                    164       2.1%
2                     99       1.3%

None



*********************************
Variable Categorica p2_42_contr
*********************************

Info              p2_42_contr
Num_Registros            7834
Num_de_categorias           4
Moda                        0
Valores_faltantes           0
Top1                [0, 7352]
Top2                 [3, 235]
Top3                 [1, 128]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   7352      93.8%
3                    235       3.0%
1                    128       1.6%
2                    119       1.5%

None



*********************************
Variable Categorica p2_42_all
*********************************

Info               p2_42_all
Num_Registros           7834
Num_de_categorias          8
Moda                       0
Valores_faltantes          0
Top1               [0, 7129]
Top2                [1, 233]
Top3                [3, 119]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   7129      91.0%
1                    233       3.0%
3                    119       1.5%
2                    114       1.5%
6                     90       1.1%
4                     69       0.9%
5                     53       0.7%
7                     27       0.3%

None



*********************************
Variable Categorica p2_42_none
*********************************

Info              p2_42_none
Num_Registros           7834
Num_de_categorias          8
Moda                       0
Valores_faltantes          0
Top1               [0, 4540]
Top2               [6, 1624]
Top3                [5, 527]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   4540      58.0%
6                   1624      20.7%
5                    527       6.7%
7                    455       5.8%
4                    283       3.6%
3                    218       2.8%
2                    112       1.4%
1                     75       1.0%

None



*********************************
Variable Categorica p2_42_contr98
*********************************

Info              p2_42_contr98
Num_Registros              7834
Num_de_categorias             4
Moda                          0
Valores_faltantes             0
Top1                  [0, 7755]
Top2                    [3, 41]
Top3                    [1, 21]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   7755      99.0%
3                     41       0.5%
1                     21       0.3%
2                     17       0.2%

None



*********************************
Variable Categorica p2_42_imp98
*********************************

Info              p2_42_imp98
Num_Registros            7834
Num_de_categorias           4
Moda                        0
Valores_faltantes           0
Top1                [0, 7702]
Top2                  [1, 59]
Top3                  [3, 40]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   7702      98.3%
1                     59       0.8%
3                     40       0.5%
2                     33       0.4%

None



*********************************
Variable Categorica p2_42_contr99
*********************************

Info              p2_42_contr99
Num_Registros              7834
Num_de_categorias             4
Moda                          0
Valores_faltantes             0
Top1                  [0, 7828]
Top2                     [3, 3]
Top3                     [1, 2]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   7828      99.9%
3                      3       0.0%
1                      2       0.0%
2                      1       0.0%

None



*********************************
Variable Categorica p2_42_imp99
*********************************

Info              p2_42_imp99
Num_Registros            7834
Num_de_categorias           4
Moda                        0
Valores_faltantes           0
Top1                [0, 7822]
Top2                   [1, 8]
Top3                   [2, 2]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   7822      99.8%
1                      8       0.1%
2                      2       0.0%
3                      2       0.0%

None



*********************************
Variable Categorica 2_42_g2
*********************************

Info                 2_42_g2
Num_Registros           7834
Num_de_categorias          2
Moda                       0
Valores_faltantes          0
Top1               [0, 7728]
Top2                [1, 106]
Top3                       0

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   7728      98.6%
1                    106       1.4%

None



*********************************
Variable Categorica p2_44_imp
*********************************

Info               p2_44_imp
Num_Registros           7834
Num_de_categorias          4
Moda                       0
Valores_faltantes          0
Top1               [0, 6649]
Top2                [3, 907]
Top3                [1, 192]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   6649      84.9%
3                    907      11.6%
1                    192       2.5%
2                     86       1.1%

None



*********************************
Variable Categorica p2_44_contr
*********************************

Info              p2_44_contr
Num_Registros            7834
Num_de_categorias           4
Moda                        0
Valores_faltantes           0
Top1                [0, 6639]
Top2                 [3, 997]
Top3                 [2, 100]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   6639      84.7%
3                    997      12.7%
2                    100       1.3%
1                     98       1.3%

None



*********************************
Variable Categorica p2_44_none
*********************************

Info              p2_44_none
Num_Registros           7834
Num_de_categorias          7
Moda                       6
Valores_faltantes          0
Top1               [6, 5627]
Top2               [0, 1489]
Top3                [5, 316]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
6                   5627      71.8%
0                   1489      19.0%
5                    316       4.0%
3                    129       1.6%
4                    128       1.6%
2                     75       1.0%
1                     70       0.9%

None



*********************************
Variable Categorica p2_44_both
*********************************

Info              p2_44_both
Num_Registros           7834
Num_de_categorias          7
Moda                       0
Valores_faltantes          0
Top1               [0, 6519]
Top2                [6, 850]
Top3                [1, 138]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   6519      83.2%
6                    850      10.9%
1                    138       1.8%
3                     91       1.2%
5                     81       1.0%
2                     81       1.0%
4                     74       0.9%

None



*********************************
Variable Categorica p2_44_contr98
*********************************

Info              p2_44_contr98
Num_Registros              7834
Num_de_categorias             4
Moda                          0
Valores_faltantes             0
Top1                  [0, 7195]
Top2                   [3, 534]
Top3                    [1, 88]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   7195      91.8%
3                    534       6.8%
1                     88       1.1%
2                     17       0.2%

None



*********************************
Variable Categorica p2_44_imp98
*********************************

Info              p2_44_imp98
Num_Registros            7834
Num_de_categorias           4
Moda                        0
Valores_faltantes           0
Top1                [0, 7094]
Top2                 [3, 559]
Top3                 [1, 131]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   7094      90.6%
3                    559       7.1%
1                    131       1.7%
2                     50       0.6%

None



*********************************
Variable Categorica p2_44_imp99
*********************************

Info              p2_44_imp99
Num_Registros            7834
Num_de_categorias           4
Moda                        0
Valores_faltantes           0
Top1                [0, 7681]
Top2                  [1, 62]
Top3                  [3, 56]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   7681      98.0%
1                     62       0.8%
3                     56       0.7%
2                     35       0.4%

None



*********************************
Variable Categorica p2_44_contr99
*********************************

Info              p2_44_contr99
Num_Registros              7834
Num_de_categorias             4
Moda                          0
Valores_faltantes             0
Top1                  [0, 7707]
Top2                    [1, 70]
Top3                    [3, 53]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   7707      98.4%
1                     70       0.9%
3                     53       0.7%
2                      4       0.1%

None



*********************************
Variable Categorica p2_45_imp
*********************************

Info               p2_45_imp
Num_Registros           7834
Num_de_categorias          4
Moda                       0
Valores_faltantes          0
Top1               [0, 6704]
Top2                [3, 948]
Top3                [1, 119]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   6704      85.6%
3                    948      12.1%
1                    119       1.5%
2                     63       0.8%

None



*********************************
Variable Categorica p2_45_contr
*********************************

Info              p2_45_contr
Num_Registros            7834
Num_de_categorias           4
Moda                        0
Valores_faltantes           0
Top1                [0, 6701]
Top2                [3, 1018]
Top3                  [2, 67]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   6701      85.5%
3                   1018      13.0%
2                     67       0.9%
1                     48       0.6%

None



*********************************
Variable Categorica p2_45_none
*********************************

Info              p2_45_none
Num_Registros           7834
Num_de_categorias          7
Moda                       6
Valores_faltantes          0
Top1               [6, 5436]
Top2               [0, 1848]
Top3                [5, 223]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
6                   5436      69.4%
0                   1848      23.6%
5                    223       2.8%
4                    105       1.3%
3                     98       1.3%
2                     74       0.9%
1                     50       0.6%

None



*********************************
Variable Categorica p2_45_both
*********************************

Info              p2_45_both
Num_Registros           7834
Num_de_categorias          7
Moda                       0
Valores_faltantes          0
Top1               [0, 6619]
Top2                [6, 906]
Top3                 [1, 76]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   6619      84.5%
6                    906      11.6%
1                     76       1.0%
3                     74       0.9%
4                     57       0.7%
5                     53       0.7%
2                     49       0.6%

None



*********************************
Variable Categorica p2_45_contr98
*********************************

Info              p2_45_contr98
Num_Registros              7834
Num_de_categorias             4
Moda                          0
Valores_faltantes             0
Top1                  [0, 6897]
Top2                   [3, 855]
Top3                    [1, 68]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   6897      88.0%
3                    855      10.9%
1                     68       0.9%
2                     14       0.2%

None



*********************************
Variable Categorica p2_45_imp98
*********************************

Info              p2_45_imp98
Num_Registros            7834
Num_de_categorias           4
Moda                        0
Valores_faltantes           0
Top1                [0, 6792]
Top2                 [3, 861]
Top3                 [1, 122]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   6792      86.7%
3                    861      11.0%
1                    122       1.6%
2                     59       0.8%

None



*********************************
Variable Categorica p2_45_imp99
*********************************

Info              p2_45_imp99
Num_Registros            7834
Num_de_categorias           4
Moda                        0
Valores_faltantes           0
Top1                [0, 7683]
Top2                  [3, 60]
Top3                  [1, 55]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   7683      98.1%
3                     60       0.8%
1                     55       0.7%
2                     36       0.5%

None



*********************************
Variable Categorica p2_45_contr99
*********************************

Info              p2_45_contr99
Num_Registros              7834
Num_de_categorias             4
Moda                          0
Valores_faltantes             0
Top1                  [0, 7712]
Top2                    [3, 61]
Top3                    [1, 60]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   7712      98.4%
3                     61       0.8%
1                     60       0.8%
2                      1       0.0%

None



*********************************
Variable Categorica p2_46
*********************************

Info                   p2_46
Num_Registros           7834
Num_de_categorias          4
Moda                       2
Valores_faltantes          0
Top1               [2, 7366]
Top2                [1, 318]
Top3               [98, 109]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   7366      94.0%
1                    318       4.1%
98                   109       1.4%
99                    41       0.5%

None



*********************************
Variable Categorica p2_47_a
*********************************

Info                  p2_47_a
Num_Registros            7834
Num_de_categorias          11
Moda
Valores_faltantes        5875
Top1                [ , 1641]
Top2               [1.0, 106]
Top3                  [1, 82]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
                    1641      20.9%
1.0                  106       1.4%
1                     82       1.0%
2                     64       0.8%
2.0                   45       0.6%
98                     9       0.1%
98.0                   4       0.1%
99.0                   2       0.0%
3                      2       0.0%
99                     2       0.0%
97                     2       0.0%

None



*********************************
Variable Categorica p2_47_b
*********************************

Info                 p2_47_b
Num_Registros           7834
Num_de_categorias         13
Moda
Valores_faltantes       5875
Top1               [ , 1641]
Top2               [2.0, 89]
Top3                 [2, 85]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
                    1641      20.9%
2.0                   89       1.1%
2                     85       1.1%
1                     58       0.7%
1.0                   57       0.7%
98                    12       0.2%
98.0                   5       0.1%
3.0                    3       0.0%
99.0                   2       0.0%
3                      2       0.0%
99                     2       0.0%
97                     2       0.0%
97.0                   1       0.0%

None



*********************************
Variable Categorica p2_47_c
*********************************

Info                 p2_47_c
Num_Registros           7834
Num_de_categorias         11
Moda
Valores_faltantes       5875
Top1               [ , 1641]
Top2               [2.0, 91]
Top3                 [2, 85]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
                    1641      20.9%
2.0                   91       1.2%
2                     85       1.1%
1.0                   58       0.7%
1                     56       0.7%
98                    13       0.2%
98.0                   6       0.1%
97                     3       0.0%
99.0                   2       0.0%
3                      2       0.0%
99                     2       0.0%

None



*********************************
Variable Categorica p2_47_d
*********************************

Info                  p2_47_d
Num_Registros            7834
Num_de_categorias          13
Moda
Valores_faltantes        5875
Top1                [ , 1641]
Top2                 [2, 129]
Top3               [2.0, 126]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
                    1641      20.9%
2                    129       1.6%
2.0                  126       1.6%
99.0                  14       0.2%
99                    12       0.2%
98                    12       0.2%
1.0                    9       0.1%
98.0                   4       0.1%
3.0                    3       0.0%
3                      3       0.0%
97                     3       0.0%
1                      2       0.0%
97.0                   1       0.0%

None



*********************************
Variable Categorica p3_1
*********************************

Info                    p3_1
Num_Registros           7834
Num_de_categorias          5
Moda                       1
Valores_faltantes          0
Top1               [1, 3438]
Top2               [3, 1817]
Top3               [2, 1638]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
1                   3438      43.9%
3                   1817      23.2%
2                   1638      20.9%
98                   768       9.8%
99                   173       2.2%

None



*********************************
Variable Categorica p3_3
*********************************

Info                    p3_3
Num_Registros           7834
Num_de_categorias          5
Moda                       1
Valores_faltantes          0
Top1               [1, 4543]
Top2               [2, 1326]
Top3               [3, 1299]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
1                   4543      58.0%
2                   1326      16.9%
3                   1299      16.6%
98                   558       7.1%
99                   108       1.4%

None



*********************************
Variable Categorica p3_5
*********************************

Info                    p3_5
Num_Registros           7834
Num_de_categorias          5
Moda                       2
Valores_faltantes          0
Top1               [2, 2816]
Top2               [1, 2305]
Top3               [3, 1957]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   2816      35.9%
1                   2305      29.4%
3                   1957      25.0%
98                   639       8.2%
99                   117       1.5%

None



*********************************
Variable Categorica p3_8
*********************************

Info                     p3_8
Num_Registros            7834
Num_de_categorias           5
Moda                        3
Valores_faltantes           0
Top1                [3, 2796]
Top2                [1, 2698]
Top3               [98, 1145]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
3                   2796      35.7%
1                   2698      34.4%
98                  1145      14.6%
2                   1081      13.8%
99                   114       1.5%

None



*********************************
Variable Categorica p3_9
*********************************

Info                    p3_9
Num_Registros           7834
Num_de_categorias          4
Moda                       2
Valores_faltantes          0
Top1               [2, 5045]
Top2               [1, 2255]
Top3               [98, 440]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   5045      64.4%
1                   2255      28.8%
98                   440       5.6%
99                    94       1.2%

None



*********************************
Variable Categorica p3_10
*********************************

Info                   p3_10
Num_Registros           7834
Num_de_categorias          7
Moda                       2
Valores_faltantes          0
Top1               [2, 3221]
Top2               [4, 2105]
Top3               [3, 1460]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   3221      41.1%
4                   2105      26.9%
3                   1460      18.6%
5                    553       7.1%
1                    243       3.1%
98                   202       2.6%
99                    50       0.6%

None



*********************************
Variable Categorica p3_11
*********************************

Info                   p3_11
Num_Registros           7834
Num_de_categorias          7
Moda                       2
Valores_faltantes          0
Top1               [2, 4878]
Top2                [4, 891]
Top3                [1, 881]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   4878      62.3%
4                    891      11.4%
1                    881      11.2%
3                    718       9.2%
98                   220       2.8%
5                    181       2.3%
99                    65       0.8%

None



*********************************
Variable Categorica p3_12
*********************************

Info                   p3_12
Num_Registros           7834
Num_de_categorias          6
Moda                       3
Valores_faltantes          0
Top1               [3, 3649]
Top2               [0, 1891]
Top3               [1, 1333]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
3                   3649      46.6%
0                   1891      24.1%
1                   1333      17.0%
2                    722       9.2%
98                   182       2.3%
99                    57       0.7%

None



*********************************
Variable Categorica p3_13
*********************************

Info                   p3_13
Num_Registros           7834
Num_de_categorias          5
Moda                       2
Valores_faltantes          0
Top1               [2, 2857]
Top2               [1, 2747]
Top3               [0, 1891]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   2857      36.5%
1                   2747      35.1%
0                   1891      24.1%
98                   265       3.4%
99                    74       0.9%

None



*********************************
Variable Categorica p4_1
*********************************

Info                    p4_1
Num_Registros           7834
Num_de_categorias          6
Moda                       1
Valores_faltantes          0
Top1               [1, 4225]
Top2               [4, 2539]
Top3                [3, 502]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
1                   4225      53.9%
4                   2539      32.4%
3                    502       6.4%
2                    313       4.0%
98                   195       2.5%
99                    60       0.8%

None



*********************************
Variable Categorica p4_2
*********************************

Info                    p4_2
Num_Registros           7834
Num_de_categorias          7
Moda                       2
Valores_faltantes          0
Top1               [2, 3308]
Top2               [1, 2691]
Top3                [5, 624]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   3308      42.2%
1                   2691      34.4%
5                    624       8.0%
4                    603       7.7%
3                    353       4.5%
98                   197       2.5%
99                    58       0.7%

None



*********************************
Variable Categorica p4_3
*********************************

Info                    p4_3
Num_Registros           7834
Num_de_categorias          4
Moda                       2
Valores_faltantes          0
Top1               [2, 5579]
Top2               [1, 1953]
Top3               [98, 242]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   5579      71.2%
1                   1953      24.9%
98                   242       3.1%
99                    60       0.8%

None



*********************************
Variable Categorica p5_1
*********************************

Info                    p5_1
Num_Registros           7834
Num_de_categorias          8
Moda                       2
Valores_faltantes          0
Top1               [2, 3754]
Top2               [0, 1891]
Top3                [1, 663]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   3754      47.9%
0                   1891      24.1%
1                    663       8.5%
98                   556       7.1%
3                    455       5.8%
4                    325       4.1%
5                    116       1.5%
99                    74       0.9%

None



*********************************
Variable Categorica p5_2
*********************************

Info                    p5_2
Num_Registros           7834
Num_de_categorias          6
Moda                       2
Valores_faltantes          0
Top1               [2, 3924]
Top2               [0, 1891]
Top3                [1, 876]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   3924      50.1%
0                   1891      24.1%
1                    876      11.2%
3                    601       7.7%
98                   495       6.3%
99                    47       0.6%

None



*********************************
Variable Categorica p5_3
*********************************

Info                    p5_3
Num_Registros           7834
Num_de_categorias         12
Moda
Valores_faltantes       5522
Top1               [ , 1436]
Top2                [2, 231]
Top3                [1, 178]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
                    1436      18.3%
2                    231       2.9%
1                    178       2.3%
2.0                  145       1.9%
1.0                  115       1.5%
3                     97       1.2%
3.0                   59       0.8%
4                     23       0.3%
4.0                   18       0.2%
98                     8       0.1%
98.0                   1       0.0%
99.0                   1       0.0%

None



*********************************
Variable Categorica p5_4
*********************************

Info                     p5_4
Num_Registros            7834
Num_de_categorias           7
Moda                        0
Valores_faltantes           0
Top1                [0, 1891]
Top2                [2, 1654]
Top3               [98, 1137]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   1891      24.1%
2                   1654      21.1%
98                  1137      14.5%
3                   1100      14.0%
4                    970      12.4%
1                    970      12.4%
99                   112       1.4%

None



*********************************
Variable Categorica p5_5
*********************************

Info                    p5_5
Num_Registros           7834
Num_de_categorias          8
Moda                       2
Valores_faltantes          0
Top1               [2, 3509]
Top2               [0, 1891]
Top3               [98, 595]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   3509      44.8%
0                   1891      24.1%
98                   595       7.6%
3                    566       7.2%
4                    518       6.6%
1                    496       6.3%
5                    164       2.1%
99                    95       1.2%

None



*********************************
Variable Categorica p6_1
*********************************

Info                    p6_1
Num_Registros           7834
Num_de_categorias          2
Moda                       2
Valores_faltantes          0
Top1               [2, 4575]
Top2               [1, 3259]
Top3                       0

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   4575      58.4%
1                   3259      41.6%

None



*********************************
Variable Categorica p6_3
*********************************

Info                     p6_3
Num_Registros            7834
Num_de_categorias          15
Moda                       10
Valores_faltantes           0
Top1               [10, 3017]
Top2               [11, 2974]
Top3                 [9, 411]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
10                  3017      38.5%
11                  2974      38.0%
9                    411       5.2%
12                   400       5.1%
8                    379       4.8%
7                    212       2.7%
99                   191       2.4%
5                     97       1.2%
6                     58       0.7%
3                     31       0.4%
13                    28       0.4%
98                    22       0.3%
4                      7       0.1%
2                      4       0.1%
1                      3       0.0%

None

In [141]:
data_profiling_categ(df, vars_num)

*********************************
Variable Categorica p1_2
*********************************

Info                    p1_2
Num_Registros           7834
Num_de_categorias          8
Moda                       5
Valores_faltantes          0
Top1               [5, 3079]
Top2               [4, 1496]
Top3               [2, 1244]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
5                   3079      39.3%
4                   1496      19.1%
2                   1244      15.9%
3                   1155      14.7%
6                    417       5.3%
1                    360       4.6%
99                    64       0.8%
98                    19       0.2%

None



*********************************
Variable Categorica p1_4
*********************************

Info                    p1_4
Num_Registros           7834
Num_de_categorias         10
Moda                       5
Valores_faltantes          0
Top1               [5, 1966]
Top2               [9, 1656]
Top3               [3, 1533]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
5                   1966      25.1%
9                   1656      21.1%
3                   1533      19.6%
8                   1193      15.2%
2                    528       6.7%
7                    376       4.8%
1                    313       4.0%
4                    188       2.4%
99                    69       0.9%
6                     12       0.2%

None



*********************************
Variable Categorica p1_5
*********************************

Info                    p1_5
Num_Registros           7834
Num_de_categorias          3
Moda                       2
Valores_faltantes          0
Top1               [2, 5282]
Top2               [1, 2379]
Top3               [99, 173]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   5282      67.4%
1                   2379      30.4%
99                   173       2.2%

None



*********************************
Variable Categorica p2_7
*********************************

Info                    p2_7
Num_Registros           7834
Num_de_categorias          4
Moda                       2
Valores_faltantes          0
Top1               [2, 4670]
Top2               [1, 2846]
Top3               [98, 245]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   4670      59.6%
1                   2846      36.3%
98                   245       3.1%
99                    73       0.9%

None



*********************************
Variable Categorica p2_8
*********************************

Info                    p2_8
Num_Registros           7834
Num_de_categorias          4
Moda                       1
Valores_faltantes       4988
Top1               [1, 1473]
Top2               [2, 1341]
Top3                [98, 25]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
1                   1473      18.8%
2                   1341      17.1%
98                    25       0.3%
99                     7       0.1%

None



*********************************
Variable Categorica p2_9
*********************************

Info                    p2_9
Num_Registros           7834
Num_de_categorias          4
Moda                       2
Valores_faltantes          0
Top1               [2, 7175]
Top2                [1, 427]
Top3               [98, 168]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   7175      91.6%
1                    427       5.5%
98                   168       2.1%
99                    64       0.8%

None



*********************************
Variable Categorica p2_10
*********************************

Info                  p2_10
Num_Registros          7834
Num_de_categorias         3
Moda                      1
Valores_faltantes      7407
Top1               [1, 250]
Top2               [2, 173]
Top3                [98, 4]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
1                    250       3.2%
2                    173       2.2%
98                     4       0.1%

None



*********************************
Variable Categorica p2_11
*********************************

Info                   p2_11
Num_Registros           7834
Num_de_categorias          5
Moda                       3
Valores_faltantes          0
Top1               [3, 4109]
Top2               [1, 2381]
Top3                [2, 974]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
3                   4109      52.5%
1                   2381      30.4%
2                    974      12.4%
98                   282       3.6%
99                    88       1.1%

None



*********************************
Variable Categorica p2_12
*********************************

Info                   p2_12
Num_Registros           7834
Num_de_categorias          4
Moda                       2
Valores_faltantes          0
Top1               [2, 5525]
Top2               [1, 1739]
Top3               [98, 490]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   5525      70.5%
1                   1739      22.2%
98                   490       6.3%
99                    80       1.0%

None



*********************************
Variable Categorica p2_13
*********************************

Info                   p2_13
Num_Registros           7834
Num_de_categorias          5
Moda                       2
Valores_faltantes          0
Top1               [2, 4171]
Top2               [1, 1574]
Top3               [3, 1227]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   4171      53.2%
1                   1574      20.1%
3                   1227      15.7%
98                   718       9.2%
99                   144       1.8%

None



*********************************
Variable Categorica p2_14
*********************************

Info                   p2_14
Num_Registros           7834
Num_de_categorias          5
Moda                       2
Valores_faltantes          0
Top1               [2, 2975]
Top2               [1, 1911]
Top3               [3, 1522]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   2975      38.0%
1                   1911      24.4%
3                   1522      19.4%
99                   926      11.8%
98                   500       6.4%

None



*********************************
Variable Categorica p2_15
*********************************

Info                   p2_15
Num_Registros           7834
Num_de_categorias          3
Moda                       2
Valores_faltantes          0
Top1               [2, 6190]
Top2               [1, 1525]
Top3               [99, 119]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   6190      79.0%
1                   1525      19.5%
99                   119       1.5%

None



*********************************
Variable Categorica p2_16
*********************************

Info                  p2_16
Num_Registros          7834
Num_de_categorias         6
Moda                      5
Valores_faltantes      6309
Top1               [5, 803]
Top2               [1, 237]
Top3               [3, 175]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
5                    803      10.3%
1                    237       3.0%
3                    175       2.2%
2                    135       1.7%
99                    99       1.3%
4                     76       1.0%

None



*********************************
Variable Categorica p2_17
*********************************

Info                   p2_17
Num_Registros           7834
Num_de_categorias          4
Moda                       2
Valores_faltantes          0
Top1               [2, 4208]
Top2               [1, 1766]
Top3               [3, 1135]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   4208      53.7%
1                   1766      22.5%
3                   1135      14.5%
99                   725       9.3%

None



*********************************
Variable Categorica p2_18
*********************************

Info                   p2_18
Num_Registros           7834
Num_de_categorias          5
Moda                       1
Valores_faltantes          0
Top1               [1, 4264]
Top2               [2, 1742]
Top3               [3, 1272]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
1                   4264      54.4%
2                   1742      22.2%
3                   1272      16.2%
98                   383       4.9%
99                   173       2.2%

None



*********************************
Variable Categorica p2_19
*********************************

Info                   p2_19
Num_Registros           7834
Num_de_categorias         16
Moda                       0
Valores_faltantes          0
Top1               [0, 2811]
Top2               [1, 1461]
Top3               [2, 1052]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   2811      35.9%
1                   1461      18.6%
2                   1052      13.4%
3                    788      10.1%
4                    522       6.7%
5                    413       5.3%
6                    249       3.2%
7                    209       2.7%
8                    129       1.6%
9                     74       0.9%
10                    57       0.7%
12                    23       0.3%
11                    22       0.3%
13                    13       0.2%
15                     6       0.1%
14                     5       0.1%

None



*********************************
Variable Categorica p2_20
*********************************

Info                   p2_20
Num_Registros           7834
Num_de_categorias          5
Moda                       0
Valores_faltantes          0
Top1               [0, 3796]
Top2               [1, 1891]
Top3               [2, 1191]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   3796      48.5%
1                   1891      24.1%
2                   1191      15.2%
3                    605       7.7%
4                    351       4.5%

None



*********************************
Variable Categorica inversion_total
*********************************

Info              inversion_total
Num_Registros                7834
Num_de_categorias              20
Moda                            0
Valores_faltantes               0
Top1                    [0, 2143]
Top2                    [1, 1166]
Top3                    [2, 1006]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   2143      27.4%
1                   1166      14.9%
2                   1006      12.8%
3                    823      10.5%
4                    632       8.1%
5                    503       6.4%
6                    405       5.2%
7                    298       3.8%
8                    257       3.3%
9                    194       2.5%
10                   134       1.7%
11                    83       1.1%
12                    55       0.7%
13                    49       0.6%
14                    31       0.4%
15                    24       0.3%
16                    23       0.3%
18                     3       0.0%
19                     3       0.0%
17                     2       0.0%

None



*********************************
Variable Categorica 2_22_autorizados
*********************************

Info              2_22_autorizados
Num_Registros                 7834
Num_de_categorias               29
Moda                             0
Valores_faltantes             5340
Top1                     [0, 1737]
Top2                      [1, 280]
Top3                     [10, 258]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   1737      22.2%
1                    280       3.6%
10                   258       3.3%
20                    55       0.7%
2                     48       0.6%
30                    28       0.4%
9898                  14       0.2%
3                     12       0.2%
50                     9       0.1%
100                    9       0.1%
4                      8       0.1%
5                      5       0.1%
40                     5       0.1%
99                     4       0.1%
21                     4       0.1%
196                    4       0.1%
11                     2       0.0%
103                    1       0.0%
320                    1       0.0%
200                    1       0.0%
198                    1       0.0%
140                    1       0.0%
6                      1       0.0%
102                    1       0.0%
101                    1       0.0%
98                     1       0.0%
60                     1       0.0%
12                     1       0.0%
41                     1       0.0%

None



*********************************
Variable Categorica p2_25
*********************************

Info                  p2_25
Num_Registros          7834
Num_de_categorias         6
Moda                      2
Valores_faltantes      6918
Top1               [2, 421]
Top2               [3, 287]
Top3                [4, 75]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                    421       5.4%
3                    287       3.7%
4                     75       1.0%
1                     50       0.6%
99                    48       0.6%
98                    35       0.4%

None



*********************************
Variable Categorica p2_27_bis
*********************************

Info               p2_27_bis
Num_Registros           7834
Num_de_categorias          4
Moda                       0
Valores_faltantes          0
Top1               [0, 7229]
Top2                [1, 510]
Top3                 [2, 52]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   7229      92.3%
1                    510       6.5%
2                     52       0.7%
3                     43       0.5%

None



*********************************
Variable Categorica 2_27
*********************************

Info                    2_27
Num_Registros           7834
Num_de_categorias          2
Moda                       0
Valores_faltantes          0
Top1               [0, 7229]
Top2                [1, 605]
Top3                       0

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   7229      92.3%
1                    605       7.7%

None



*********************************
Variable Categorica p2_28
*********************************

Info                  p2_28
Num_Registros          7834
Num_de_categorias         5
Moda                      2
Valores_faltantes      6918
Top1               [2, 298]
Top2               [3, 229]
Top3               [1, 200]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                    298       3.8%
3                    229       2.9%
1                    200       2.6%
98                   117       1.5%
99                    72       0.9%

None



*********************************
Variable Categorica p2_29
*********************************

Info                   p2_29
Num_Registros           7834
Num_de_categorias          6
Moda                       1
Valores_faltantes          0
Top1               [1, 4922]
Top2               [2, 1324]
Top3                [4, 728]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
1                   4922      62.8%
2                   1324      16.9%
4                    728       9.3%
3                    337       4.3%
98                   332       4.2%
99                   191       2.4%

None



*********************************
Variable Categorica p2_31
*********************************

Info                  p2_31
Num_Registros          7834
Num_de_categorias         6
Moda                      2
Valores_faltantes      6769
Top1               [2, 295]
Top2               [1, 260]
Top3               [3, 259]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                    295       3.8%
1                    260       3.3%
3                    259       3.3%
4                    206       2.6%
98                    40       0.5%
99                     5       0.1%

None



*********************************
Variable Categorica p2_32
*********************************

Info                   p2_32
Num_Registros           7834
Num_de_categorias          5
Moda                       1
Valores_faltantes       6510
Top1                [1, 834]
Top2                [2, 253]
Top3               [98, 135]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
1                    834      10.6%
2                    253       3.2%
98                   135       1.7%
3                     95       1.2%
99                     7       0.1%

None



*********************************
Variable Categorica p2_33
*********************************

Info                  p2_33
Num_Registros          7834
Num_de_categorias         5
Moda                      2
Valores_faltantes      6510
Top1               [2, 509]
Top2               [3, 370]
Top3               [1, 277]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                    509       6.5%
3                    370       4.7%
1                    277       3.5%
98                   148       1.9%
99                    20       0.3%

None



*********************************
Variable Categorica p2_34_a
*********************************

Info                 p2_34_a
Num_Registros           7834
Num_de_categorias          6
Moda                       2
Valores_faltantes        476
Top1               [2, 3875]
Top2               [1, 2686]
Top3               [98, 493]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   3875      49.5%
1                   2686      34.3%
98                   493       6.3%
97                   156       2.0%
99                   106       1.4%
3                     42       0.5%

None



*********************************
Variable Categorica p2_34_b
*********************************

Info                 p2_34_b
Num_Registros           7834
Num_de_categorias          6
Moda                       1
Valores_faltantes        476
Top1               [1, 3595]
Top2               [2, 2875]
Top3               [98, 591]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
1                   3595      45.9%
2                   2875      36.7%
98                   591       7.5%
97                   136       1.7%
99                   113       1.4%
3                     48       0.6%

None



*********************************
Variable Categorica p2_34_c
*********************************

Info                 p2_34_c
Num_Registros           7834
Num_de_categorias          6
Moda                       2
Valores_faltantes        476
Top1               [2, 5915]
Top2                [1, 647]
Top3               [98, 486]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   5915      75.5%
1                    647       8.3%
98                   486       6.2%
97                   156       2.0%
99                   117       1.5%
3                     37       0.5%

None



*********************************
Variable Categorica p2_34_d
*********************************

Info                 p2_34_d
Num_Registros           7834
Num_de_categorias          6
Moda                       2
Valores_faltantes        476
Top1               [2, 4390]
Top2               [1, 2158]
Top3               [98, 505]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   4390      56.0%
1                   2158      27.5%
98                   505       6.4%
97                   149       1.9%
99                   119       1.5%
3                     37       0.5%

None



*********************************
Variable Categorica p2_34_e
*********************************

Info                 p2_34_e
Num_Registros           7834
Num_de_categorias          6
Moda                       2
Valores_faltantes        476
Top1               [2, 4706]
Top2               [1, 1800]
Top3               [98, 536]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   4706      60.1%
1                   1800      23.0%
98                   536       6.8%
97                   157       2.0%
99                   120       1.5%
3                     39       0.5%

None



*********************************
Variable Categorica p2_35_a
*********************************

Info                 p2_35_a
Num_Registros           7834
Num_de_categorias          6
Moda                       2
Valores_faltantes          0
Top1               [2, 5740]
Top2               [1, 1465]
Top3               [98, 406]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   5740      73.3%
1                   1465      18.7%
98                   406       5.2%
97                   115       1.5%
99                    75       1.0%
3                     33       0.4%

None



*********************************
Variable Categorica p2_35_b
*********************************

Info                 p2_35_b
Num_Registros           7834
Num_de_categorias          6
Moda                       2
Valores_faltantes          0
Top1               [2, 4878]
Top2               [1, 2295]
Top3               [98, 449]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   4878      62.3%
1                   2295      29.3%
98                   449       5.7%
97                   107       1.4%
99                    79       1.0%
3                     26       0.3%

None



*********************************
Variable Categorica p2_35_c
*********************************

Info                 p2_35_c
Num_Registros           7834
Num_de_categorias          6
Moda                       2
Valores_faltantes          0
Top1               [2, 3912]
Top2               [1, 3017]
Top3               [98, 651]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   3912      49.9%
1                   3017      38.5%
98                   651       8.3%
97                   116       1.5%
99                    77       1.0%
3                     61       0.8%

None



*********************************
Variable Categorica p2_35_d
*********************************

Info                 p2_35_d
Num_Registros           7834
Num_de_categorias          6
Moda                       2
Valores_faltantes          0
Top1               [2, 4299]
Top2               [1, 2803]
Top3               [98, 542]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   4299      54.9%
1                   2803      35.8%
98                   542       6.9%
99                    81       1.0%
97                    80       1.0%
3                     29       0.4%

None



*********************************
Variable Categorica p2_35_e
*********************************

Info                 p2_35_e
Num_Registros           7834
Num_de_categorias          6
Moda                       2
Valores_faltantes          0
Top1               [2, 4189]
Top2               [1, 2836]
Top3               [98, 604]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   4189      53.5%
1                   2836      36.2%
98                   604       7.7%
99                    84       1.1%
97                    80       1.0%
3                     41       0.5%

None



*********************************
Variable Categorica p2_35_f
*********************************

Info                 p2_35_f
Num_Registros           7834
Num_de_categorias          6
Moda                       2
Valores_faltantes          0
Top1               [2, 6348]
Top2               [99, 672]
Top3               [98, 398]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   6348      81.0%
99                   672       8.6%
98                   398       5.1%
1                    164       2.1%
97                   155       2.0%
3                     97       1.2%

None



*********************************
Variable Categorica p2_36
*********************************

Info                 p2_36
Num_Registros         7834
Num_de_categorias        3
Moda                     1
Valores_faltantes     7748
Top1               [1, 65]
Top2               [2, 19]
Top3               [99, 2]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
1                     65       0.8%
2                     19       0.2%
99                     2       0.0%

None



*********************************
Variable Categorica p2_39
*********************************

Info                 p2_39
Num_Registros         7834
Num_de_categorias        5
Moda                     4
Valores_faltantes     7769
Top1               [4, 29]
Top2               [2, 15]
Top3                [3, 9]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
4                     29       0.4%
2                     15       0.2%
3                      9       0.1%
5                      8       0.1%
1                      4       0.1%

None



*********************************
Variable Categorica p2_40
*********************************

Info                 p2_40
Num_Registros         7834
Num_de_categorias        3
Moda                     3
Valores_faltantes     7767
Top1               [3, 34]
Top2               [1, 19]
Top3               [2, 14]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
3                     34       0.4%
1                     19       0.2%
2                     14       0.2%

None



*********************************
Variable Categorica p2_41_imp
*********************************

Info               p2_41_imp
Num_Registros           7834
Num_de_categorias          4
Moda                       3
Valores_faltantes          0
Top1               [3, 5477]
Top2               [2, 1098]
Top3                [0, 673]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
3                   5477      69.9%
2                   1098      14.0%
0                    673       8.6%
1                    586       7.5%

None



*********************************
Variable Categorica p2_41_contr
*********************************

Info              p2_41_contr
Num_Registros            7834
Num_de_categorias           4
Moda                        3
Valores_faltantes           0
Top1                [3, 6181]
Top2                 [2, 991]
Top3                 [0, 548]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
3                   6181      78.9%
2                    991      12.6%
0                    548       7.0%
1                    114       1.5%

None



*********************************
Variable Categorica p2_41_none
*********************************

Info              p2_41_none
Num_Registros           7834
Num_de_categorias          8
Moda                       1
Valores_faltantes          0
Top1               [1, 4242]
Top2               [0, 2270]
Top3                [2, 735]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
1                   4242      54.1%
0                   2270      29.0%
2                    735       9.4%
3                    318       4.1%
4                    140       1.8%
7                     47       0.6%
5                     45       0.6%
6                     37       0.5%

None



*********************************
Variable Categorica p2_41_imp2
*********************************

Info              p2_41_imp2
Num_Registros           7834
Num_de_categorias          4
Moda                       0
Valores_faltantes          0
Top1               [0, 6613]
Top2                [1, 772]
Top3                [2, 322]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   6613      84.4%
1                    772       9.9%
2                    322       4.1%
3                    127       1.6%

None



*********************************
Variable Categorica p2_41_contr2
*********************************

Info              p2_41_contr2
Num_Registros             7834
Num_de_categorias            4
Moda                         0
Valores_faltantes            0
Top1                 [0, 6926]
Top2                  [1, 721]
Top3                  [3, 108]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   6926      88.4%
1                    721       9.2%
3                    108       1.4%
2                     79       1.0%

None



*********************************
Variable Categorica p2_41_contr98
*********************************

Info              p2_41_contr98
Num_Registros              7834
Num_de_categorias             4
Moda                          0
Valores_faltantes             0
Top1                  [0, 7173]
Top2                   [3, 374]
Top3                   [1, 253]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   7173      91.6%
3                    374       4.8%
1                    253       3.2%
2                     34       0.4%

None



*********************************
Variable Categorica p2_41_imp98
*********************************

Info              p2_41_imp98
Num_Registros            7834
Num_de_categorias           4
Moda                        0
Valores_faltantes           0
Top1                [0, 6789]
Top2                 [3, 454]
Top3                 [1, 392]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   6789      86.7%
3                    454       5.8%
1                    392       5.0%
2                    199       2.5%

None



*********************************
Variable Categorica p2_41_contr99
*********************************

Info              p2_41_contr99
Num_Registros              7834
Num_de_categorias             4
Moda                          0
Valores_faltantes             0
Top1                  [0, 7738]
Top2                    [3, 59]
Top3                    [1, 34]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   7738      98.8%
3                     59       0.8%
1                     34       0.4%
2                      3       0.0%

None



*********************************
Variable Categorica p2_41_imp99
*********************************

Info              p2_41_imp99
Num_Registros            7834
Num_de_categorias           4
Moda                        0
Valores_faltantes           0
Top1                [0, 7660]
Top2                  [1, 72]
Top3                  [3, 64]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   7660      97.8%
1                     72       0.9%
3                     64       0.8%
2                     38       0.5%

None



*********************************
Variable Categorica p2_41_both
*********************************

Info              p2_41_both
Num_Registros           7834
Num_de_categorias          8
Moda                       6
Valores_faltantes          0
Top1               [6, 4414]
Top2               [5, 1064]
Top3                [7, 841]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
6                   4414      56.3%
5                   1064      13.6%
7                    841      10.7%
4                    561       7.2%
0                    477       6.1%
3                    285       3.6%
2                    132       1.7%
1                     60       0.8%

None



*********************************
Variable Categorica 2_41_g
*********************************

Info                  2_41_g
Num_Registros           7834
Num_de_categorias          2
Moda                       0
Valores_faltantes          0
Top1               [0, 6572]
Top2               [1, 1262]
Top3                       0

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   6572      83.9%
1                   1262      16.1%

None



*********************************
Variable Categorica p2_42_imp
*********************************

Info               p2_42_imp
Num_Registros           7834
Num_de_categorias          4
Moda                       0
Valores_faltantes          0
Top1               [0, 7350]
Top2                [1, 221]
Top3                [3, 164]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   7350      93.8%
1                    221       2.8%
3                    164       2.1%
2                     99       1.3%

None



*********************************
Variable Categorica p2_42_contr
*********************************

Info              p2_42_contr
Num_Registros            7834
Num_de_categorias           4
Moda                        0
Valores_faltantes           0
Top1                [0, 7352]
Top2                 [3, 235]
Top3                 [1, 128]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   7352      93.8%
3                    235       3.0%
1                    128       1.6%
2                    119       1.5%

None



*********************************
Variable Categorica p2_42_all
*********************************

Info               p2_42_all
Num_Registros           7834
Num_de_categorias          8
Moda                       0
Valores_faltantes          0
Top1               [0, 7129]
Top2                [1, 233]
Top3                [3, 119]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   7129      91.0%
1                    233       3.0%
3                    119       1.5%
2                    114       1.5%
6                     90       1.1%
4                     69       0.9%
5                     53       0.7%
7                     27       0.3%

None



*********************************
Variable Categorica p2_42_none
*********************************

Info              p2_42_none
Num_Registros           7834
Num_de_categorias          8
Moda                       0
Valores_faltantes          0
Top1               [0, 4540]
Top2               [6, 1624]
Top3                [5, 527]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   4540      58.0%
6                   1624      20.7%
5                    527       6.7%
7                    455       5.8%
4                    283       3.6%
3                    218       2.8%
2                    112       1.4%
1                     75       1.0%

None



*********************************
Variable Categorica p2_42_contr98
*********************************

Info              p2_42_contr98
Num_Registros              7834
Num_de_categorias             4
Moda                          0
Valores_faltantes             0
Top1                  [0, 7755]
Top2                    [3, 41]
Top3                    [1, 21]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   7755      99.0%
3                     41       0.5%
1                     21       0.3%
2                     17       0.2%

None



*********************************
Variable Categorica p2_42_imp98
*********************************

Info              p2_42_imp98
Num_Registros            7834
Num_de_categorias           4
Moda                        0
Valores_faltantes           0
Top1                [0, 7702]
Top2                  [1, 59]
Top3                  [3, 40]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   7702      98.3%
1                     59       0.8%
3                     40       0.5%
2                     33       0.4%

None



*********************************
Variable Categorica p2_42_contr99
*********************************

Info              p2_42_contr99
Num_Registros              7834
Num_de_categorias             4
Moda                          0
Valores_faltantes             0
Top1                  [0, 7828]
Top2                     [3, 3]
Top3                     [1, 2]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   7828      99.9%
3                      3       0.0%
1                      2       0.0%
2                      1       0.0%

None



*********************************
Variable Categorica p2_42_imp99
*********************************

Info              p2_42_imp99
Num_Registros            7834
Num_de_categorias           4
Moda                        0
Valores_faltantes           0
Top1                [0, 7822]
Top2                   [1, 8]
Top3                   [2, 2]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   7822      99.8%
1                      8       0.1%
2                      2       0.0%
3                      2       0.0%

None



*********************************
Variable Categorica 2_42_g2
*********************************

Info                 2_42_g2
Num_Registros           7834
Num_de_categorias          2
Moda                       0
Valores_faltantes          0
Top1               [0, 7728]
Top2                [1, 106]
Top3                       0

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   7728      98.6%
1                    106       1.4%

None



*********************************
Variable Categorica p2_44_imp
*********************************

Info               p2_44_imp
Num_Registros           7834
Num_de_categorias          4
Moda                       0
Valores_faltantes          0
Top1               [0, 6649]
Top2                [3, 907]
Top3                [1, 192]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   6649      84.9%
3                    907      11.6%
1                    192       2.5%
2                     86       1.1%

None



*********************************
Variable Categorica p2_44_contr
*********************************

Info              p2_44_contr
Num_Registros            7834
Num_de_categorias           4
Moda                        0
Valores_faltantes           0
Top1                [0, 6639]
Top2                 [3, 997]
Top3                 [2, 100]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   6639      84.7%
3                    997      12.7%
2                    100       1.3%
1                     98       1.3%

None



*********************************
Variable Categorica p2_44_none
*********************************

Info              p2_44_none
Num_Registros           7834
Num_de_categorias          7
Moda                       6
Valores_faltantes          0
Top1               [6, 5627]
Top2               [0, 1489]
Top3                [5, 316]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
6                   5627      71.8%
0                   1489      19.0%
5                    316       4.0%
3                    129       1.6%
4                    128       1.6%
2                     75       1.0%
1                     70       0.9%

None



*********************************
Variable Categorica p2_44_both
*********************************

Info              p2_44_both
Num_Registros           7834
Num_de_categorias          7
Moda                       0
Valores_faltantes          0
Top1               [0, 6519]
Top2                [6, 850]
Top3                [1, 138]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   6519      83.2%
6                    850      10.9%
1                    138       1.8%
3                     91       1.2%
2                     81       1.0%
5                     81       1.0%
4                     74       0.9%

None



*********************************
Variable Categorica p2_44_contr98
*********************************

Info              p2_44_contr98
Num_Registros              7834
Num_de_categorias             4
Moda                          0
Valores_faltantes             0
Top1                  [0, 7195]
Top2                   [3, 534]
Top3                    [1, 88]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   7195      91.8%
3                    534       6.8%
1                     88       1.1%
2                     17       0.2%

None



*********************************
Variable Categorica p2_44_imp98
*********************************

Info              p2_44_imp98
Num_Registros            7834
Num_de_categorias           4
Moda                        0
Valores_faltantes           0
Top1                [0, 7094]
Top2                 [3, 559]
Top3                 [1, 131]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   7094      90.6%
3                    559       7.1%
1                    131       1.7%
2                     50       0.6%

None



*********************************
Variable Categorica p2_44_imp99
*********************************

Info              p2_44_imp99
Num_Registros            7834
Num_de_categorias           4
Moda                        0
Valores_faltantes           0
Top1                [0, 7681]
Top2                  [1, 62]
Top3                  [3, 56]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   7681      98.0%
1                     62       0.8%
3                     56       0.7%
2                     35       0.4%

None



*********************************
Variable Categorica p2_44_contr99
*********************************

Info              p2_44_contr99
Num_Registros              7834
Num_de_categorias             4
Moda                          0
Valores_faltantes             0
Top1                  [0, 7707]
Top2                    [1, 70]
Top3                    [3, 53]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   7707      98.4%
1                     70       0.9%
3                     53       0.7%
2                      4       0.1%

None



*********************************
Variable Categorica p2_45_imp
*********************************

Info               p2_45_imp
Num_Registros           7834
Num_de_categorias          4
Moda                       0
Valores_faltantes          0
Top1               [0, 6704]
Top2                [3, 948]
Top3                [1, 119]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   6704      85.6%
3                    948      12.1%
1                    119       1.5%
2                     63       0.8%

None



*********************************
Variable Categorica p2_45_contr
*********************************

Info              p2_45_contr
Num_Registros            7834
Num_de_categorias           4
Moda                        0
Valores_faltantes           0
Top1                [0, 6701]
Top2                [3, 1018]
Top3                  [2, 67]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   6701      85.5%
3                   1018      13.0%
2                     67       0.9%
1                     48       0.6%

None



*********************************
Variable Categorica p2_45_none
*********************************

Info              p2_45_none
Num_Registros           7834
Num_de_categorias          7
Moda                       6
Valores_faltantes          0
Top1               [6, 5436]
Top2               [0, 1848]
Top3                [5, 223]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
6                   5436      69.4%
0                   1848      23.6%
5                    223       2.8%
4                    105       1.3%
3                     98       1.3%
2                     74       0.9%
1                     50       0.6%

None



*********************************
Variable Categorica p2_45_both
*********************************

Info              p2_45_both
Num_Registros           7834
Num_de_categorias          7
Moda                       0
Valores_faltantes          0
Top1               [0, 6619]
Top2                [6, 906]
Top3                 [1, 76]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   6619      84.5%
6                    906      11.6%
1                     76       1.0%
3                     74       0.9%
4                     57       0.7%
5                     53       0.7%
2                     49       0.6%

None



*********************************
Variable Categorica p2_45_contr98
*********************************

Info              p2_45_contr98
Num_Registros              7834
Num_de_categorias             4
Moda                          0
Valores_faltantes             0
Top1                  [0, 6897]
Top2                   [3, 855]
Top3                    [1, 68]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   6897      88.0%
3                    855      10.9%
1                     68       0.9%
2                     14       0.2%

None



*********************************
Variable Categorica p2_45_imp98
*********************************

Info              p2_45_imp98
Num_Registros            7834
Num_de_categorias           4
Moda                        0
Valores_faltantes           0
Top1                [0, 6792]
Top2                 [3, 861]
Top3                 [1, 122]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   6792      86.7%
3                    861      11.0%
1                    122       1.6%
2                     59       0.8%

None



*********************************
Variable Categorica p2_45_imp99
*********************************

Info              p2_45_imp99
Num_Registros            7834
Num_de_categorias           4
Moda                        0
Valores_faltantes           0
Top1                [0, 7683]
Top2                  [3, 60]
Top3                  [1, 55]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   7683      98.1%
3                     60       0.8%
1                     55       0.7%
2                     36       0.5%

None



*********************************
Variable Categorica p2_45_contr99
*********************************

Info              p2_45_contr99
Num_Registros              7834
Num_de_categorias             4
Moda                          0
Valores_faltantes             0
Top1                  [0, 7712]
Top2                    [3, 61]
Top3                    [1, 60]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
0                   7712      98.4%
3                     61       0.8%
1                     60       0.8%
2                      1       0.0%

None



*********************************
Variable Categorica p2_46
*********************************

Info                   p2_46
Num_Registros           7834
Num_de_categorias          4
Moda                       2
Valores_faltantes          0
Top1               [2, 7366]
Top2                [1, 318]
Top3               [98, 109]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   7366      94.0%
1                    318       4.1%
98                   109       1.4%
99                    41       0.5%

None



*********************************
Variable Categorica p2_47_a
*********************************

Info                p2_47_a
Num_Registros          7834
Num_de_categorias         6
Moda                      1
Valores_faltantes      7516
Top1               [1, 188]
Top2               [2, 109]
Top3               [98, 13]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
1                    188       2.4%
2                    109       1.4%
98                    13       0.2%
99                     4       0.1%
3                      2       0.0%
97                     2       0.0%

None



*********************************
Variable Categorica p2_47_b
*********************************

Info                p2_47_b
Num_Registros          7834
Num_de_categorias         6
Moda                      2
Valores_faltantes      7516
Top1               [2, 174]
Top2               [1, 115]
Top3               [98, 17]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                    174       2.2%
1                    115       1.5%
98                    17       0.2%
3                      5       0.1%
99                     4       0.1%
97                     3       0.0%

None



*********************************
Variable Categorica p2_47_c
*********************************

Info                p2_47_c
Num_Registros          7834
Num_de_categorias         6
Moda                      2
Valores_faltantes      7516
Top1               [2, 176]
Top2               [1, 114]
Top3               [98, 19]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                    176       2.2%
1                    114       1.5%
98                    19       0.2%
99                     4       0.1%
97                     3       0.0%
3                      2       0.0%

None



*********************************
Variable Categorica p2_47_d
*********************************

Info                p2_47_d
Num_Registros          7834
Num_de_categorias         6
Moda                      2
Valores_faltantes      7516
Top1               [2, 255]
Top2               [99, 26]
Top3               [98, 16]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                    255       3.3%
99                    26       0.3%
98                    16       0.2%
1                     11       0.1%
3                      6       0.1%
97                     4       0.1%

None



*********************************
Variable Categorica p3_1
*********************************

Info                    p3_1
Num_Registros           7834
Num_de_categorias          5
Moda                       1
Valores_faltantes          0
Top1               [1, 3438]
Top2               [3, 1817]
Top3               [2, 1638]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
1                   3438      43.9%
3                   1817      23.2%
2                   1638      20.9%
98                   768       9.8%
99                   173       2.2%

None



*********************************
Variable Categorica p3_3
*********************************

Info                    p3_3
Num_Registros           7834
Num_de_categorias          5
Moda                       1
Valores_faltantes          0
Top1               [1, 4543]
Top2               [2, 1326]
Top3               [3, 1299]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
1                   4543      58.0%
2                   1326      16.9%
3                   1299      16.6%
98                   558       7.1%
99                   108       1.4%

None



*********************************
Variable Categorica p3_5
*********************************

Info                    p3_5
Num_Registros           7834
Num_de_categorias          5
Moda                       2
Valores_faltantes          0
Top1               [2, 2816]
Top2               [1, 2305]
Top3               [3, 1957]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   2816      35.9%
1                   2305      29.4%
3                   1957      25.0%
98                   639       8.2%
99                   117       1.5%

None



*********************************
Variable Categorica p3_8
*********************************

Info                     p3_8
Num_Registros            7834
Num_de_categorias           5
Moda                        3
Valores_faltantes           0
Top1                [3, 2796]
Top2                [1, 2698]
Top3               [98, 1145]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
3                   2796      35.7%
1                   2698      34.4%
98                  1145      14.6%
2                   1081      13.8%
99                   114       1.5%

None



*********************************
Variable Categorica p3_9
*********************************

Info                    p3_9
Num_Registros           7834
Num_de_categorias          4
Moda                       2
Valores_faltantes          0
Top1               [2, 5045]
Top2               [1, 2255]
Top3               [98, 440]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   5045      64.4%
1                   2255      28.8%
98                   440       5.6%
99                    94       1.2%

None



*********************************
Variable Categorica p3_10
*********************************

Info                   p3_10
Num_Registros           7834
Num_de_categorias          7
Moda                       2
Valores_faltantes          0
Top1               [2, 3221]
Top2               [4, 2105]
Top3               [3, 1460]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   3221      41.1%
4                   2105      26.9%
3                   1460      18.6%
5                    553       7.1%
1                    243       3.1%
98                   202       2.6%
99                    50       0.6%

None



*********************************
Variable Categorica p3_11
*********************************

Info                   p3_11
Num_Registros           7834
Num_de_categorias          7
Moda                       2
Valores_faltantes          0
Top1               [2, 4878]
Top2                [4, 891]
Top3                [1, 881]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   4878      62.3%
4                    891      11.4%
1                    881      11.2%
3                    718       9.2%
98                   220       2.8%
5                    181       2.3%
99                    65       0.8%

None



*********************************
Variable Categorica p3_12
*********************************

Info                   p3_12
Num_Registros           7834
Num_de_categorias          5
Moda                       3
Valores_faltantes       1891
Top1               [3, 3649]
Top2               [1, 1333]
Top3                [2, 722]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
3                   3649      46.6%
1                   1333      17.0%
2                    722       9.2%
98                   182       2.3%
99                    57       0.7%

None



*********************************
Variable Categorica p3_13
*********************************

Info                   p3_13
Num_Registros           7834
Num_de_categorias          4
Moda                       2
Valores_faltantes       1891
Top1               [2, 2857]
Top2               [1, 2747]
Top3               [98, 265]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   2857      36.5%
1                   2747      35.1%
98                   265       3.4%
99                    74       0.9%

None



*********************************
Variable Categorica p4_1
*********************************

Info                    p4_1
Num_Registros           7834
Num_de_categorias          6
Moda                       1
Valores_faltantes          0
Top1               [1, 4225]
Top2               [4, 2539]
Top3                [3, 502]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
1                   4225      53.9%
4                   2539      32.4%
3                    502       6.4%
2                    313       4.0%
98                   195       2.5%
99                    60       0.8%

None



*********************************
Variable Categorica p4_2
*********************************

Info                    p4_2
Num_Registros           7834
Num_de_categorias          7
Moda                       2
Valores_faltantes          0
Top1               [2, 3308]
Top2               [1, 2691]
Top3                [5, 624]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   3308      42.2%
1                   2691      34.4%
5                    624       8.0%
4                    603       7.7%
3                    353       4.5%
98                   197       2.5%
99                    58       0.7%

None



*********************************
Variable Categorica p4_3
*********************************

Info                    p4_3
Num_Registros           7834
Num_de_categorias          4
Moda                       2
Valores_faltantes          0
Top1               [2, 5579]
Top2               [1, 1953]
Top3               [98, 242]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   5579      71.2%
1                   1953      24.9%
98                   242       3.1%
99                    60       0.8%

None



*********************************
Variable Categorica p5_1
*********************************

Info                    p5_1
Num_Registros           7834
Num_de_categorias          7
Moda                       2
Valores_faltantes       1891
Top1               [2, 3754]
Top2                [1, 663]
Top3               [98, 556]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   3754      47.9%
1                    663       8.5%
98                   556       7.1%
3                    455       5.8%
4                    325       4.1%
5                    116       1.5%
99                    74       0.9%

None



*********************************
Variable Categorica p5_2
*********************************

Info                    p5_2
Num_Registros           7834
Num_de_categorias          5
Moda                       2
Valores_faltantes       1891
Top1               [2, 3924]
Top2                [1, 876]
Top3                [3, 601]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   3924      50.1%
1                    876      11.2%
3                    601       7.7%
98                   495       6.3%
99                    47       0.6%

None



*********************************
Variable Categorica p5_3
*********************************

Info                   p5_3
Num_Registros          7834
Num_de_categorias         6
Moda                      2
Valores_faltantes      6958
Top1               [2, 376]
Top2               [1, 293]
Top3               [3, 156]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                    376       4.8%
1                    293       3.7%
3                    156       2.0%
4                     41       0.5%
98                     9       0.1%
99                     1       0.0%

None



*********************************
Variable Categorica p5_4
*********************************

Info                     p5_4
Num_Registros            7834
Num_de_categorias           6
Moda                        2
Valores_faltantes        1891
Top1                [2, 1654]
Top2               [98, 1137]
Top3                [3, 1100]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   1654      21.1%
98                  1137      14.5%
3                   1100      14.0%
1                    970      12.4%
4                    970      12.4%
99                   112       1.4%

None



*********************************
Variable Categorica p5_5
*********************************

Info                    p5_5
Num_Registros           7834
Num_de_categorias          7
Moda                       2
Valores_faltantes       1891
Top1               [2, 3509]
Top2               [98, 595]
Top3                [3, 566]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   3509      44.8%
98                   595       7.6%
3                    566       7.2%
4                    518       6.6%
1                    496       6.3%
5                    164       2.1%
99                    95       1.2%

None



*********************************
Variable Categorica p6_1
*********************************

Info                    p6_1
Num_Registros           7834
Num_de_categorias          2
Moda                       2
Valores_faltantes          0
Top1               [2, 4575]
Top2               [1, 3259]
Top3                       0

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
2                   4575      58.4%
1                   3259      41.6%

None



*********************************
Variable Categorica p6_3
*********************************

Info                     p6_3
Num_Registros            7834
Num_de_categorias          15
Moda                       10
Valores_faltantes           0
Top1               [10, 3017]
Top2               [11, 2974]
Top3                 [9, 411]

None
Valores de las categorias y sus proporciones

           Observaciones proporción
Categoría
10                  3017      38.5%
11                  2974      38.0%
9                    411       5.2%
12                   400       5.1%
8                    379       4.8%
7                    212       2.7%
99                   191       2.4%
5                     97       1.2%
6                     58       0.7%
3                     31       0.4%
13                    28       0.4%
98                    22       0.3%
4                      7       0.1%
2                      4       0.1%
1                      3       0.0%

None